Repository pymc-devs/pymc, pull requests merged in 2019-05, with the labels that each got.

#3463 Added shape_utils doc
  docs/source/api.rst
  docs/source/api/shape_utils.rst
  pymc3/distributions/shape_utils.py
Labels: docs, request_review/discussion

#3468 [WIP] Proposed revision to sample_posterior_predictive()
  RELEASE-NOTES.md
  pymc3/model.py
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
Labels: request_review/discussion

#3491 Mark `pm.Data` nodes in graphviz graphs.
  RELEASE-NOTES.md
  pymc3/data.py
  pymc3/model_graph.py
  pymc3/tests/test_data_container.py
Labels: enhancements, request_review/discussion

#3503 Minor cosmetic changes/fixes.
  pymc3/theanof.py
Labels: WIP, docs, enhancements, request_review/discussion
