Repository pymc-devs/pymc, pull requests merged in 2019-06, with the labels that each got.

#3506 Extend API documents
  docs/source/api.rst
  docs/source/api/backends.rst
  docs/source/api/model_graph.rst
  docs/source/notebooks/table_of_contents_examples.js
Labels: docs, request_review/discussion

#3511 Add undocumented distributions.
  docs/source/api/distributions/continuous.rst
Labels: docs

#3509 Move math out of distribution random methods
  RELEASE-NOTES.md
  pymc3/distributions/continuous.py
  pymc3/distributions/discrete.py
  pymc3/tests/test_distributions_random.py
Labels: shape_problem
