Repository pymc-devs/pymc, pull requests merged in 2019-08, with the labels that each got.

#3575 WIP: Documentation cleanup
  docs/source/Gaussian_Processes.rst
  docs/source/api.rst
  docs/source/api/backends.rst
  docs/source/api/bounds.rst
  docs/source/api/gp.rst
  docs/source/api/inference.rst
  docs/source/api/model_graph.rst
  docs/source/conf.py
  docs/source/developer_guide.rst
  docs/source/getting_started.rst
  pymc3/backends/base.py
  pymc3/data.py
  pymc3/distributions/continuous.py
  pymc3/distributions/discrete.py
  pymc3/distributions/timeseries.py
  pymc3/math.py
  pymc3/sampling.py
  pymc3/step_methods/smc.py
Labels: docs

#3583 Fix shape_utils broken documentation
  pymc3/distributions/__init__.py
Labels: ready?

#3556 Save memory in posterior predictive
  RELEASE-NOTES.md
  pymc3/sampling.py
Labels: ready?

#3554 Wrap DensityDist's random with generate_samples
  RELEASE-NOTES.md
  docs/source/api/distributions.rst
  docs/source/api/distributions/utilities.rst
  pymc3/distributions/distribution.py
  pymc3/tests/test_distributions_random.py
  pymc3/tests/test_models_utils.py
Labels: ready?

#3572 Fix Categorical.logp with take_along_axis
  RELEASE-NOTES.md
  pymc3/distributions/discrete.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_theanof.py
  pymc3/theanof.py
Labels: request_review/discussion
