Repository pymc-devs/pymc, pull requests merged in 2020-07, with the labels that each got.

#3785 Honor discard_tuned_samples during KeyboardInterrupt
  pymc3/backends/report.py
  pymc3/sampling.py
Labels: defects

#3986 Add time values as sampler stats for NUTS
  RELEASE-NOTES.md
  pymc3/step_methods/hmc/base_hmc.py
  pymc3/step_methods/hmc/hmc.py
  pymc3/step_methods/hmc/nuts.py
  pymc3/tests/test_step.py
Labels: enhancements

#3990 Add more info to divergence warnings
  pymc3/backends/report.py
  pymc3/step_methods/hmc/base_hmc.py
  pymc3/step_methods/hmc/hmc.py
  pymc3/step_methods/hmc/nuts.py
  pymc3/step_methods/step_sizes.py
  requirements.txt
Labels: don't merge, enhancements

#4006 Fix keep_size for arviz structures.
  RELEASE-NOTES.md
  pymc3/distributions/posterior_predictive.py
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
  pymc3/util.py
Labels: defects, request review/discussion

#3985 Fix `axis` handling of `random`method in GRW
  RELEASE-NOTES.md
  docs/release-notes/pymc3-3.0.md
  pymc3/distributions/timeseries.py
Labels: defects

#4005 [WIP] Updated GP notebooks
  docs/source/notebooks/GP-MaunaLoa.ipynb
Labels: docs, examples
