Repository pymc-devs/pymc, pull requests merged in 2020-11, with the labels that each got.

#4212 Posterior predictive sampling was using only the first chain of InferenceData
  pymc3/sampling.py
Labels: defects

#4221 Cast test values to the correct dtype before assignment
  pymc3/model.py
Labels: defects

#4183 Add Bayesian Additive Regression Trees (BARTs)
  RELEASE-NOTES.md
  pymc3/distributions/__init__.py
  pymc3/distributions/bart.py
  pymc3/distributions/tree.py
  pymc3/model.py
  pymc3/sampling.py
  pymc3/step_methods/__init__.py
  pymc3/step_methods/hmc/nuts.py
  pymc3/step_methods/pgbart.py
  pymc3/tests/test_sampling.py
Labels: enhancements

#4217 fix #4216: str and latex representations for Bound variables
  pymc3/distributions/bound.py
  pymc3/tests/test_distributions.py
  pymc3/util.py
Labels: defects

#4218 Theano-PyMC compatibility updates
  environment-dev.yml
  pymc3/distributions/dist_math.py
  pymc3/distributions/multivariate.py
  pymc3/model.py
  pymc3/ode/ode.py
  pymc3/tests/helpers.py
  pymc3/tests/test_dist_math.py
  pymc3/tests/test_math.py
  pymc3/tests/test_variational_inference.py
  requirements.txt
Labels: maintenance

#4199 Adding new notebook for conjugate sampling
  RELEASE-NOTES.md
  docs/source/notebooks/sampling_conjugate_step.ipynb
  docs/source/notebooks/table_of_contents_examples.js
Labels: docs

#4231 Remove Text, SQLite and HDF5 backends
  .gitignore
  RELEASE-NOTES.md
  docs/source/api/backends.rst
  pymc3/__init__.py
  pymc3/backends/__init__.py
  pymc3/backends/base.py
  pymc3/backends/hdf5.py
  pymc3/backends/sqlite.py
  pymc3/backends/text.py
  pymc3/sampling.py
  pymc3/tests/test_hdf5_backend.py
  pymc3/tests/test_sampling.py
  pymc3/tests/test_sqlite_backend.py
  pymc3/tests/test_text_backend.py
  pymc3/tests/test_variational_inference.py
  pymc3/variational/opvi.py
  requirements.txt
Labels: maintenance

#4243 Fix str representations for KroneckerNormal and MatrixNormal
  RELEASE-NOTES.md
  pymc3/distributions/distribution.py
  pymc3/distributions/multivariate.py
  pymc3/model.py
  pymc3/tests/test_distributions.py
Labels: defects

#4258 CI test Arviz compat
  .codecov.yml
  .github/workflows/arviz_compat.yml
  .github/workflows/pytest.yml
Labels: maintenance

#4260 Add str/repr formatting options and change defaults accordingly
  pymc3/distributions/bart.py
  pymc3/distributions/bound.py
  pymc3/distributions/distribution.py
  pymc3/distributions/simulator.py
  pymc3/model.py
  pymc3/model_graph.py
  pymc3/tests/test_data_container.py
  pymc3/tests/test_distributions.py
  pymc3/util.py
Labels: defects, request review/discussion

#4211 Test model logp before starting any MCMC chains
  RELEASE-NOTES.md
  pymc3/model.py
  pymc3/sampling.py
  pymc3/tests/test_examples.py
  pymc3/tests/test_hmc.py
  pymc3/tests/test_step.py
  pymc3/tests/test_util.py
  pymc3/tuning/starting.py
  pymc3/util.py
Labels: enhancements, help wanted

#4207 Fix MvNormal.random
  RELEASE-NOTES.md
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions_random.py
  pymc3/tests/test_mixture.py
Labels: defects, shape problem

#4275 Update pointer to Theano docs.
  docs/source/PyMC3_and_Theano.rst
Labels: docs, request review/discussion
