Repository pymc-devs/pymc, pull requests merged in 2020-09, with the labels that each got.

#4073 sort imports in 10 notebooks
  docs/source/notebooks/GLM-logistic.ipynb
  docs/source/notebooks/GLM-rolling-regression.ipynb
  docs/source/notebooks/GP-SparseApprox.ipynb
  docs/source/notebooks/LKJ.ipynb
  docs/source/notebooks/cox_model.ipynb
  docs/source/notebooks/gaussian_process.ipynb
  docs/source/notebooks/howto_debugging.ipynb
  docs/source/notebooks/marginalized_gaussian_mixture_model.ipynb
  docs/source/notebooks/sampling_compound_step.ipynb
  docs/source/notebooks/updating_priors.ipynb
Labels: docs

#4051 Reformat continuous.py
  pymc3/distributions/continuous.py
  pyproject.toml
Labels: maintenance

#4088 CI add pre-commit, check notebook imports are sorted
  .github/workflows/pre-commit.yml
  .nbqa.ini
  .pre-commit-config.yaml
  setup.cfg
Labels: docs

#4087 Added notebook and data for LGCP tutorial
  docs/source/notebooks/log-gaussian-cox-process.ipynb
  docs/source/notebooks/table_of_contents_examples.js
  pymc3/examples/data/anemones.csv
Labels: docs, examples

#4104 DOC use inference data in posterior predictive notebook
  docs/source/notebooks/posterior_predictive.ipynb
Labels: docs, examples

#4103 Update/standardize GLM-logistic notebook
  docs/source/notebooks/GLM-logistic.ipynb
Labels: docs, examples

#4110 run black on 15 files
  pymc3/__init__.py
  pymc3/backends/__init__.py
  pymc3/backends/base.py
  pymc3/backends/hdf5.py
  pymc3/backends/ndarray.py
  pymc3/backends/report.py
  pymc3/backends/sqlite.py
  pymc3/backends/text.py
  pymc3/backends/tracetab.py
  pymc3/blocking.py
  pymc3/data.py
  pymc3/exceptions.py
  pymc3/glm/families.py
  pymc3/glm/linear.py
  pymc3/glm/utils.py
Labels: maintenance

#4133 Standardize/update notebook: GLM-poisson-regression
  docs/source/notebooks/GLM-poisson-regression.ipynb
Labels: docs, examples

#4135 Upgrade nbqa, add config options for black
  .nbqa.ini
  .pre-commit-config.yaml
  pyproject.toml
Labels: docs, examples
