Repository pymc-devs/pymc, pull requests merged in 2020-12, with the labels that each got.

#4280 Update contributing guide, fail fast
  .github/workflows/arviz_compat.yml
  .github/workflows/pytest.yml
  CONTRIBUTING.md
  conda-envs/environment-dev-py36.yml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
Labels: maintenance

#3944 Adding logcdf method to inverse gamma distribution
  RELEASE-NOTES.md
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
Labels: enhancements

#4283 Fix warnings from docstrings when building docs, remove t_stick_breaking
  docs/source/api/distributions/transforms.rst
  docs/source/api/plots.rst
  pymc3/backends/base.py
  pymc3/distributions/transforms.py
  pymc3/sampling.py
Labels: docs

#4282 TST Cover sample_posterior_predictive_w
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
Labels: tests

#4271 Make model_averaging.ipynb runnable, fix formula typo
  docs/source/notebooks/model_averaging.ipynb
Labels: docs

#4285 - Fix regression caused by #4211
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
Labels: defects

#4303 Update README.rst
  README.rst
Labels: docs

#4302 uncomment test from #4297
  pymc3/distributions/distribution.py
  pymc3/tests/test_parallel_sampling.py
Labels: tests

#4300 Fixup all non-theano non-notebook docs warnings, replace dead link
  docs/source/Advanced_usage_of_Theano_in_PyMC3.rst
  docs/source/Gaussian_Processes.rst
  docs/source/Probability_Distributions.rst
  docs/source/PyMC3_and_Theano.rst
  docs/source/about.rst
  docs/source/api.rst
  docs/source/developer_guide.rst
  docs/source/index.rst
  docs/source/learn.rst
  docs/source/sphinxext/gallery_generator.py
Labels: docs

#4293 Small compatibility fix for master of Theano-PyMc
  .github/workflows/arviz_compat.yml
  .github/workflows/pytest.yml
  .github/workflows/windows.yml
  conda-envs/environment-dev-py36.yml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  pymc3/__init__.py
  pymc3/distributions/multivariate.py
  pymc3/math.py
  pymc3/ode/ode.py
  requirements.txt
  scripts/test.sh
Labels: theano-related

#4329 Remove theanof.set_theano_conf and instead use the config context
  RELEASE-NOTES.md
  pymc3/model.py
  pymc3/tests/test_theanof.py
  pymc3/theanof.py
Labels: maintenance, theano-related

#4327 Fixup mypy errors in sampling.py
  pymc3/sampling.py
  pymc3/step_methods/arraystep.py
  pymc3/step_methods/mlda.py
  pymc3/tests/test_sampling.py
  setup.cfg
Labels: maintenance

#4330 CI: add slash workflow
  .github/workflows/dispatched_pre-commit.yml
  .github/workflows/slash_dispatch.yml
Labels: enhancements, maintenance, request review/discussion

#4232 Add numerically safe ordered probit distribution.
  RELEASE-NOTES.md
  pymc3/distributions/__init__.py
  pymc3/distributions/discrete.py
  pymc3/distributions/dist_math.py
  pymc3/tests/test_distributions.py
Labels: enhancements, request review/discussion

#4234 Let plot_posterior_predictive_glm work with inferencedata too
  RELEASE-NOTES.md
  pymc3/plots/posteriorplot.py
  pymc3/tests/test_plots.py
Labels: enhancements

#4356 Update CI badge to GitHub Actions badge in docs
  README.rst
  docs/source/semantic_sphinx/layout.html
Labels: docs

#4214 Fixing scalar shape handling: treat (1,) as vectors
  RELEASE-NOTES.md
  pymc3/distributions/discrete.py
  pymc3/distributions/distribution.py
  pymc3/distributions/mixture.py
  pymc3/distributions/posterior_predictive.py
  pymc3/tests/test_distributions_random.py
  pymc3/tests/test_shape_handling.py
Labels: defects, enhancements, request review/discussion, shape problem

#4387 Implement logcdf method for discrete distributions
  RELEASE-NOTES.md
  pymc3/distributions/discrete.py
  pymc3/tests/test_distributions.py
Labels: enhancements
