Repository pymc-devs/pymc, pull requests merged in 2020-05, with the labels that each got.

#3906 Remove deprecated stuff
  .readthedocs.yml
  RELEASE-NOTES.md
  docs/source/notebooks/api_quickstart.ipynb
  docs/source/notebooks/bayes_param_survival_pymc3.ipynb
  docs/source/notebooks/rugby_analytics.ipynb
  pymc3/examples/samplers_mvnormal.py
  pymc3/sampling.py
  pymc3/stats/__init__.py
  pymc3/tests/sampler_fixtures.py
  pymc3/tests/test_sampling.py
Labels: maintenance

#3902 add deprecation warnings for old backends
  RELEASE-NOTES.md
  pymc3/backends/ndarray.py
  pymc3/backends/sqlite.py
  pymc3/backends/text.py
  pymc3/backends/tracetab.py
Labels: maintenance, request review/discussion

#3836 Closes #3051 - logp numpy array input fixed
  RELEASE-NOTES.md
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions.py
Labels: defects, request review/discussion

#3913 fix & specify type and shapes for plot_gp_dist
  pymc3/gp/util.py
  pymc3/tests/test_gp.py
Labels: beginner friendly, docs, request review/discussion

#3925 Expand pm.Data capacities
  RELEASE-NOTES.md
  pymc3/data.py
  pymc3/distributions/distribution.py
  pymc3/model.py
  pymc3/tests/test_data_container.py
Labels: enhancements

#3911 return_inferencedata option for pm.sample
  .gitignore
  RELEASE-NOTES.md
  docs/source/notebooks/api_quickstart.ipynb
  pymc3/backends/ndarray.py
  pymc3/backends/report.py
  pymc3/backends/text.py
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
  requirements.txt
Labels: enhancements, request review/discussion
