Repository pymc-devs/pymc, pull requests merged in 2020-06, with the labels that each got.

#3948 Run some CI tests with arviz master
  .travis.yml
Labels: maintenance, tests

#3949 Take out the DEMetropolisZ warning
  pymc3/step_methods/metropolis.py
Labels: metropolis

#3899 changed ar1 logp to use ar1 precision instead of innovation precision
  RELEASE-NOTES.md
  docs/source/notebooks/AR.ipynb
  pymc3/distributions/timeseries.py
  pymc3/tests/test_distributions.py
Labels: defects

#3954 Add release pipeline GitHub Action
  .github/workflows/release.yml
  pymc3/__init__.py
  setup.py
Labels: enhancements, release

#3970 Fix tarball generation as 3.9.1 release
  MANIFEST.in
  RELEASE-NOTES.md
  pymc3/__init__.py
  setup.py
Labels: defects, release

#3979 add regression test for issue 3965
  pymc3/step_methods/hmc/quadpotential.py
  pymc3/tests/test_quadpotential.py
Labels: defects

#3982 Set-up 3.9.2 Release
  RELEASE-NOTES.md
  pymc3/__init__.py
Labels: release
