Repository pymc-devs/pymc, pull requests merged in 2020-03, with the labels that each got.

#3821 Fix number of tune steps with cores>1
  pymc3/parallel_sampling.py
  pymc3/tests/test_sampling.py
Labels: defects, request review/discussion

#3827 Include n_tune, n_draws and t_sampling in SamplerReport
  RELEASE-NOTES.md
  pymc3/backends/report.py
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
Labels: enhancements

#3834 fixed small but critical typo
  docs/source/Advanced_usage_of_Theano_in_PyMC3.rst
Labels: docs

#3846 Support xarray input to sample_posterior_predictive
  RELEASE-NOTES.md
  pymc3/distributions/posterior_predictive.py
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
  pymc3/util.py
Labels: enhancements

#3851 Fix docstrings.
  pymc3/distributions/posterior_predictive.py
Labels: docs

#3856 Fix for 3727.
  pymc3/model.py
Labels: WIP, request review/discussion
