Repository pymc-devs/pymc, pull requests merged in 2020-10, with the labels that each got.

#4150 Formatted Next 15 Files
  pymc3/model.py
  pymc3/sampling.py
  pymc3/tests/test_examples.py
  pymc3/tests/test_math.py
  pymc3/tests/test_minibatches.py
  pymc3/tests/test_model_func.py
  pymc3/tests/test_model_graph.py
  pymc3/tests/test_model_helpers.py
  pymc3/tests/test_modelcontext.py
  pymc3/tests/test_models_linear.py
  pymc3/tests/test_models_utils.py
  pymc3/tests/test_parallel_sampling.py
  pymc3/tests/test_pickling.py
  pymc3/tests/test_posdef_sym.py
  pymc3/tests/test_posterior_predictive.py
Labels: beginner friendly, maintenance

#4169 Make Multinomial robust against batches
  RELEASE-NOTES.md
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions.py
Labels: enhancements, shape problem

#4179 Use new TestValueError when available
  pymc3/distributions/multivariate.py
Labels: enhancements

#4200 CI simplify check-watermark
  .pre-commit-config.yaml
  environment-dev.yml
  requirements-dev.txt
  scripts/check_watermark.py
Labels: maintenance, tests
