Repository pymc-devs/pymc, pull requests merged in 2021-09, with the labels that each got.

#4982 Prepare initval API for method-based lazy evaluation
  pymc3/model.py
Labels: maintenance

#5010 Monkeypatch instructions for migrating away from the old rv.logp API
  pymc3/distributions/distribution.py
  pymc3/tests/test_distributions.py
Labels: maintenance

#5020 Fix CI by pinning upper JAX version number temporarily
  .github/workflows/jaxtests.yml
Labels: maintenance, jax

#5025 More moments
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/distribution.py
  pymc/tests/test_initvals.py
Labels: enhancements

#5029 Upgrade to numpyro version with bugfixes
  .github/workflows/jaxtests.yml
Labels: jax

#5011 BART: clamp first particle to old full tree
  pymc/step_methods/pgbart.py
Labels: enhancements

#5036 Add prominent warnings about having theano/pymc3 installed in parallel
  pymc/__init__.py
Labels: maintenance, installation problems
