Repository pymc-devs/pymc, pull requests merged in 2021-03, with the labels that each got.

#4492 Keep broadcasting information in make_shared_replacements
  RELEASE-NOTES.md
  pymc3/aesaraf.py
  pymc3/tests/test_aesaraf.py
Labels: defects

#4536 Bring back stats and plotting aliases
  RELEASE-NOTES.md
  docs/source/api/plots.rst
  docs/source/api/stats.rst
  pymc3/__init__.py
  pymc3/plots/__init__.py
  pymc3/stats/__init__.py
Labels: enhancements, v3

#4540 Check Theano version upon import
  pymc3/__init__.py
  requirements.txt
Labels: enhancements, v3

#4542 Prepare 3.11.2 release
  RELEASE-NOTES.md
  pymc3/__init__.py
Labels: release, v3

#4549 Revive ArviZ aliases, but raise DeprecationWarning on old wrappers
  RELEASE-NOTES.md
  docs/source/api/plots.rst
  docs/source/api/stats.rst
  pymc3/__init__.py
  pymc3/plots/__init__.py
  pymc3/stats/__init__.py
Labels: enhancements

#4547 Deal with deprecation warning
  pymc3/__init__.py
  pymc3/plots/__init__.py
  pymc3/tests/test_util.py
  requirements.txt
Labels: v3

#4544 Add Zenodo DOI badges and citation instructions
  README.rst
  docs/source/index.rst
Labels: release
