Repository pymc-devs/pymc, pull requests merged in 2021-11, with the labels that each got.

#4980 Update and extend governance [WIP]
  GOVERNANCE.md
  docs/community_diagram.png
Labels: request discussion

#5130 Update Aesara dependency and add regression test for #5090
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  pymc/tests/test_initial_point.py
  requirements-dev.txt
  requirements.txt
Labels: defects

#5135 Partially revert #5131
  pymc/step_methods/metropolis.py
Labels: tests, maintenance

#5087 Add tests for distributions moments
  .github/workflows/pytest.yml
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/distribution.py
  pymc/distributions/shape_utils.py
  pymc/tests/test_distributions_moments.py
Labels: enhancements, v4

#5132 Update computation of proposal logp ratio in SMC IMH kernel
  pymc/smc/smc.py
Labels: SMC

#5178 Avoid unnecessary double clone_replace in `smc._logp_forw`
  pymc/smc/smc.py
Labels: maintenance, SMC

#5187 Remove logcdfpt and simplify logp and logcdf helpers
  pymc/distributions/__init__.py
  pymc/distributions/discrete.py
  pymc/distributions/distribution.py
  pymc/distributions/logprob.py
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
  pymc/tests/test_logprob.py
  pymc/tests/test_parallel_sampling.py
  pymc/tests/test_smc.py
Labels: request discussion

#5189 Adding log_likelihood, observed_data, and sample_stats to numpyro sampler
  pymc/backends/arviz.py
  pymc/sampling_jax.py
  pymc/tests/test_sampling_jax.py
Labels: trace-backend

#5055 v4 refactor for GP module
  RELEASE-NOTES.md
  conda-envs/windows-environment-test-py38.yml
  pymc/gp/cov.py
  pymc/gp/gp.py
  pymc/gp/util.py
  pymc/tests/test_gp.py
Labels: v4, GP
