Repository pymc-devs/pymc, pull requests merged in 2021-12, with the labels that each got.

#5249 Remove windows xfails
  pymc/tests/test_ode.py
Labels: tests, winOS, maintenance

#5226 Deprecate those kwargs in `v3` that will break in `v4`
  .pre-commit-config.yaml
  RELEASE-NOTES.md
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  docs/source/_static/main.css
  docs/source/sphinxext/gallery_generator.py
  pymc3/__init__.py
  pymc3/backends/base.py
  pymc3/distributions/distribution.py
  pymc3/distributions/posterior_predictive.py
  pymc3/gp/cov.py
  pymc3/gp/util.py
  pymc3/model.py
  pymc3/model_graph.py
  pymc3/ode/ode.py
  pymc3/sampling.py
  pymc3/step_methods/hmc/quadpotential.py
  pymc3/step_methods/mlda.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
  pymc3/tests/test_modelcontext.py
  pymc3/tests/test_random.py
  pymc3/tests/test_variational_inference.py
  pymc3/theanof.py
  pymc3/variational/inference.py
  requirements-dev.txt
  requirements.txt
  scripts/check_all_tests_are_covered.py
  scripts/generate_pip_deps_from_conda.py
Labels: docs, maintenance, v3

#5259 Fix latex typo in DirichletMultionmial docstrings
  pymc/distributions/multivariate.py
Labels: docs

#5202 Finalize release notes for `4.0.0-beta1`
  RELEASE-NOTES.md
  pymc/__init__.py
Labels: release

#5266 api docs template
  .gitignore
  Makefile
  docs/source/api.rst
  docs/source/api/distributions/continuous.rst
  docs/source/api/distributions/discrete.rst
  docs/source/api/distributions/mixture.rst
  docs/source/api/distributions/multivariate.rst
  docs/source/api/distributions/simulator.rst
  docs/source/api/distributions/timeseries.rst
  docs/source/api/distributions/transforms.rst
  docs/source/api/distributions/utilities.rst
  docs/source/api/glm.rst
  docs/source/api/plots.rst
  docs/source/api/stats.rst
  docs/source/conf.py
  docs/source/contributing/build_docs.md
  docs/source/index.md
  make.bat
  pymc/distributions/transforms.py
  pymc/model.py
Labels: docs

#5273 Get rid of FutureWarnings related to Model.initial_point
  pymc/backends/base.py
  pymc/model.py
  pymc/sampling_jax.py
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/mlda.py
  pymc/tests/models.py
  pymc/tests/test_aesaraf.py
  pymc/tests/test_data_container.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_distributions_timeseries.py
  pymc/tests/test_missing.py
  pymc/tests/test_mixture.py
  pymc/tests/test_model.py
  pymc/tests/test_quadpotential.py
  pymc/tests/test_sampling.py
  pymc/tests/test_shared.py
  pymc/tests/test_step.py
  pymc/tests/test_variational_inference.py
Labels: maintenance

#5287 Define `rtd_version` for locally build docs
  docs/source/conf.py
Labels: defects, docs
