Repository pymc-devs/pymc, pull requests merged in 2021-04, with the labels that each got.

#4586 Conversion of Gumbel distribution to v4
  pymc3/distributions/continuous.py
Labels: v4

#4576 Fix exponential and gamma logp / random link
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions_random.py
Labels: v4

#4593 Updated Pareto distribution for v4
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Labels: v4

#4624 Fixed grammar typos: "a aesara" to "an Aesara" (take 3)
  docs/source/Gaussian_Processes.rst
  docs/source/PyMC3_and_Aesara.rst
  docs/source/api/math.rst
  docs/source/developer_guide.rst
  pymc3/aesaraf.py
  pymc3/data.py
  pymc3/distributions/continuous.py
  pymc3/distributions/discrete.py
  pymc3/distributions/dist_math.py
  pymc3/distributions/distribution.py
  pymc3/distributions/mixture.py
  pymc3/glm/utils.py
  pymc3/model.py
  pymc3/step_methods/arraystep.py
  pymc3/step_methods/hmc/base_hmc.py
  pymc3/step_methods/hmc/hmc.py
  pymc3/step_methods/mlda.py
  pymc3/step_methods/sgmcmc.py
  pymc3/tests/test_aesaraf.py
  pymc3/tests/test_ode.py
  pymc3/tests/test_types.py
  pymc3/variational/inference.py
Labels: docs

#4627 Remove nonexistent attribute from __all__ list
  pymc3/plots/__init__.py
Labels: v4

#4641 Use optimized graph for JAX conversion
  pymc3/sampling_jax.py
Labels: enhancements, jax

#4615 Refactor DiscreteWeibull
  pymc3/distributions/discrete.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Labels: v4

#4569 Add a type guard for `intX`
  RELEASE-NOTES.md
  pymc3/tests/test_data_container.py
  pymc3/tests/test_model_helpers.py
  pymc3/theanof.py
Labels: v3, v4

#4608 V4 update test framework for distributions random method 2nd attempt
  pymc3/distributions/discrete.py
  pymc3/tests/helpers.py
  pymc3/tests/test_distributions_random.py
  requirements.txt
Labels: v4
