Repository pymc-devs/pymc, pull requests merged in 2021-07, with the labels that each got.

#4783 Add V4 distribution implementation developer guide
  docs/source/developer_guide_implementing_distribution.md
  pymc3/tests/test_distributions_random.py
Labels: docs

#4827 Fix flaky ODE test by setting an initval
  pymc3/tests/test_ode.py
Labels: tests

#4826 Add progressbar to `sample_smc` and deprecate `parallel`
  pymc3/smc/sample_smc.py
  pymc3/tests/test_smc.py
Labels: SMC

#4838 Refactor CI workflow to get codecov reports back
  .coveragerc
  codecov.yml
Labels: maintenance

#4834 Remove float128 support (backport)
  RELEASE-NOTES.md
  pymc3/distributions/dist_math.py
  pymc3/tests/test_dist_math.py
Labels: v3

#4773 Create Ordered Multinomial distribution
  RELEASE-NOTES.md
  docs/source/api/distributions/multivariate.rst
  pymc3/distributions/__init__.py
  pymc3/distributions/discrete.py
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Labels: enhancements, v4

#4835 Expose `plot_gp_dist` at package level
  RELEASE-NOTES.md
  pymc3/__init__.py
Labels: enhancements, v3

#4844 Updates for recent Aesara changes
  pymc3/distributions/dist_math.py
  pymc3/distributions/multivariate.py
  pymc3/gp/util.py
Labels: aesara-related

#4852 Fix param:type rendering in v3 docs
  docs/source/_static/main.css
  docs/source/conf.py
Labels: docs, v3

#4866 Remove JAX sampling on v3 in favor of v4
  .github/workflows/jaxtests.yml
  .github/workflows/pytest.yml
  README.rst
  RELEASE-NOTES.md
  pymc3/sampling_jax.py
  pymc3/tests/test_sampling_jax.py
  scripts/check_all_tests_are_covered.py
Labels: jax, v3

#4596 CAR random variables
  pymc3/distributions/multivariate.py
  pymc3/tests/conftest.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Labels: v4
