Repository pymc-devs/pymc, pull requests merged in 2021-01, with the labels that each got.

#4394 Update `log1mexp` and remove redundant local reimplementations in the library
  pymc3/distributions/continuous.py
  pymc3/math.py
Labels: defects, enhancements

#4393 Increase unittest `check_logcdf` coverage and fix issues with some distribution methods
  RELEASE-NOTES.md
  pymc3/distributions/continuous.py
  pymc3/distributions/discrete.py
  pymc3/tests/test_distributions.py
Labels: defects, enhancements, tests

#4374 Test on oldest supported versions during end-to-end CI
  .codecov.yml
  .github/workflows/arviz_compat.yml
  .github/workflows/pytest.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  pymc3/tests/test_distributions.py
  requirements.txt
  setup.py
Labels: maintenance

#4408 Fix some typing in _TraceDict
  pymc3/distributions/posterior_predictive.py
Labels: maintenance

#4413 [WIP] Replace installation instructions on README with wiki links
  README.rst
Labels: don't merge

#4373 Dirichlet multinomial (continued)
  RELEASE-NOTES.md
  docs/source/api/distributions/multivariate.rst
  pymc3/distributions/__init__.py
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Labels: enhancements

#4419 UserWarning if doing predictive sampling with models containing Potentials
  RELEASE-NOTES.md
  pymc3/distributions/posterior_predictive.py
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
Labels: enhancements

#4416 Fixed Dirichlet.random returning output of wrong shapes
  RELEASE-NOTES.md
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions_random.py
Labels: defects

#4418 Fixed log posterior of bounded variables when the value lies near the boundary
  pymc3/distributions/transforms.py
  pymc3/tests/test_transforms.py
Labels: enhancements

#4423 find_MAP informative error
  pymc3/tuning/starting.py
Labels: enhancements, maintenance

#4370 make sure weights always sum up to 1, fix #4369
  pymc3/smc/smc.py
Labels: defects

#4428 Evaluate only desired branch in log1mexp_numpy
  RELEASE-NOTES.md
  pymc3/math.py
  pymc3/tests/test_math.py
Labels: enhancements

#4439 Support imputations with ndarray data
  RELEASE-NOTES.md
  pymc3/model.py
  pymc3/tests/test_model_helpers.py
Labels: enhancements

#4444 Upgrade to Theano-PyMC 1.1.2
  RELEASE-NOTES.md
  requirements.txt
Labels: theano-related

#4445 Avoid unclear TypeError when using theano.shared variables as input to distribution parameters
  RELEASE-NOTES.md
  pymc3/distributions/distribution.py
  pymc3/tests/test_data_container.py
Labels: enhancements
