Repository pymc-devs/pymc, pull requests merged in 2021-08, with the labels that each got.

#4902 Condition xfails on Windows after bug fix affected linux only
  pymc3/tests/test_ode.py
Labels: aesara-related, tests, winOS

#4898 Round proposed values for discrete variables in SMC
  pymc3/smc/smc.py
  pymc3/tests/test_smc.py
Labels: SMC

#4936 Fix SMC placement in API documentation
  docs/source/api/inference.rst
Labels: docs

#4919 SMC kernel refactor
  pymc3/smc/sample_smc.py
  pymc3/smc/smc.py
  pymc3/tests/test_smc.py
Labels: request discussion, SMC

#4925 SMC Metropolis-Hastings kernel
  pymc3/smc/smc.py
  pymc3/tests/test_smc.py
Labels: SMC

#4963 Pin Aesara version temporarily
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  requirements-dev.txt
  requirements.txt
Labels: aesara-related
