Repository pymc-devs/pymc, pull requests merged in 2022-06, with the labels that each got.

#5757 Update Aesara dependency
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Labels: maintenance

#5810 Update dev guide
  .pre-commit-config.yaml
  docs/source/contributing/developer_guide.md
  docs/source/contributing/developer_guide.rst
  docs/source/contributing/index.md
  docs/source/contributing/versioned_vs_gallery_explanation.md
  docs/source/contributing/versioning_schemes_explanation.md
Labels: docs

#5882 Align advertised `Metropolis` `stats_dtypes` with changes from 1e7d91f
  RELEASE-NOTES.md
  pymc/step_methods/metropolis.py
Labels: defects

#5887 Cast rounded input replacement to original discrete dtype in sample_smc
  RELEASE-NOTES.md
  pymc/smc/smc.py
  pymc/tests/test_smc.py
Labels: defects, SMC

#5904 Disable dark mode in docs
  docs/source/conf.py
Labels: docs

#5913 Bump for `4.0.1` release
  RELEASE-NOTES.md
  pymc/__init__.py
Labels: release

#5746 Expand dimensionality notebook
  docs/source/learn/core_notebooks/dimensionality.ipynb
Labels: docs, request discussion

#5917 Drop support for Python 3.7 and add support for Python 3.10
  .github/workflows/tests.yml
  conda-envs/windows-environment-test.yml
  setup.py
Labels: defects, release, maintenance, Github CI/CD
