Repository pymc-devs/pymc, pull requests merged in 2022-11, with the labels that each got.

#6257 Split `sampling.py` into `sampling.py` and `sampling_forward.py`
  .github/workflows/tests.yml
  pymc/__init__.py
  pymc/parallel_sampling.py
  pymc/sampling.py
  pymc/sampling_forward.py
  pymc/sampling_jax.py
  pymc/smc/kernels.py
  pymc/tests/distributions/test_mixture.py
  pymc/tests/distributions/test_multivariate.py
  pymc/tests/distributions/test_timeseries.py
  pymc/tests/test_sampling.py
  pymc/tests/test_sampling_forward.py
  pymc/tests/test_util.py
  pymc/util.py
  pymc/variational/opvi.py
  scripts/run_mypy.py
Labels: maintenance

#6216 Improve `join_nonshared_inputs` documentation
  pymc/aesaraf.py
  pymc/smc/kernels.py
  pymc/step_methods/metropolis.py
Labels: docs

#6274 fixed small typo
  docs/source/learn/core_notebooks/pymc_overview.ipynb
Labels: docs, maintenance

#6298 Improve random seed processing for SMC sampling
  pymc/smc/sampling.py
Labels: maintenance, SMC

#6291 Remove duplicate methods
  pymc/model.py
  pymc/smc/kernels.py
  pymc/tests/test_initial_point.py
  pymc/tests/test_model.py
Labels: maintenance, major

#6280 Remove wrong type-hints and stale docstrings from distributions
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
Labels: docs, request discussion

#6301 added close-figs context
  pymc/distributions/discrete.py
Labels: docs, maintenance, no releasenotes

#6292 Add warning if observed in DensityDist is dict
  pymc/distributions/distribution.py
  pymc/tests/distributions/test_distribution.py
Labels: enhancements

#6300 Fix some typos and lints
  docs/source/conf.py
  pymc/backends/arviz.py
  pymc/backends/ndarray.py
  pymc/data.py
  pymc/distributions/distribution.py
  pymc/gp/util.py
  pymc/model.py
  pymc/model_graph.py
  pymc/tests/distributions/test_discrete.py
  pymc/tests/test_model.py
  pymc/tests/tuning/test_starting.py
  pymc/variational/inference.py
  pymc/variational/opvi.py
  scripts/run_mypy.py
  setup.py
  setupegg.py
Labels: maintenance

#6314 Fix versioneer config to match version tags
  pymc/_version.py
Labels: defects

#6114 Update docstrings for sample_smc and smc.py
  docs/source/api/smc.rst
  pymc/smc/kernels.py
  pymc/smc/sampling.py
  pymc/variational/inference.py
Labels: docs, SMC

#6327 Add issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/installation.yml
Labels: maintenance

#6255 Fix ordering Transformation for batched dimensions
  pymc/distributions/transforms.py
  pymc/tests/distributions/test_transform.py
Labels: defects

#6329 Fix YAML in issue template
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: no releasenotes

#6333 Fix transforms example
  pymc/distributions/transforms.py
Labels: docs

#6338 Seed `TestTP` and `TestLatentKron` against flakyness
  pymc/tests/gp/test_gp.py
Labels: tests, no releasenotes

#6337 add alternative parametrization for AssymetricLaplace
  pymc/distributions/continuous.py
  pymc/tests/distributions/test_continuous.py
Labels: enhancements

#6339 Bugfixes to increase robustness against unnamed `dims`
  pymc/model.py
  pymc/model_graph.py
  pymc/tests/test_model.py
  pymc/tests/test_model_graph.py
Labels: bug

#6345 Improve issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/developer.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/installation.yml
Labels: maintenance, no releasenotes

#6347 Improve issue templates fix
  .github/ISSUE_TEMPLATE/developer.yml
Labels: maintenance, no releasenotes
