Repository pymc-devs/pymc, pull requests merged in 2022-01, with the labels that each got.

#5294 Add or fix type hints related to backends
  pymc/sampling.py
Labels: maintenance

#5306 Remove TODO from contributing guide
  docs/source/contributing/developer_guide_implementing_distribution.md
Labels: docs, maintenance

#5307 Fix Poisson logcdf
  pymc/distributions/discrete.py
Labels: defects

#5231 Function to optimize prior under constraints
  RELEASE-NOTES.md
  pymc/__init__.py
  pymc/func_utils.py
  pymc/tests/test_func_utils.py
Labels: enhancements, v4

#5238 update governance after election and add discourse team
  GOVERNANCE.md
Labels: request discussion

#5325 Re-enable passing `dims` alongside `shape` or `size`
  pymc/distributions/distribution.py
  pymc/distributions/shape_utils.py
  pymc/tests/test_shape_handling.py
Labels: enhancements

#5338 Only pack variables for which prior samples are available
  pymc/backends/arviz.py
  pymc/tests/test_idata_conversion.py
Labels: defects

#5332 Pin NumPy to <1.22.0 temporarily
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Labels: maintenance

#5348 Bump for 4.0.0b2
  README.rst
  RELEASE-NOTES.md
  pymc/__init__.py
Labels: release

#5320 Refactor `Factor` properties
  .github/workflows/pytest.yml
  RELEASE-NOTES.md
  pymc/backends/arviz.py
  pymc/backends/base.py
  pymc/distributions/__init__.py
  pymc/distributions/logprob.py
  pymc/model.py
  pymc/model_graph.py
  pymc/sampling.py
  pymc/sampling_jax.py
  pymc/step_methods/elliptical_slice.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/mlda.py
  pymc/step_methods/sgmcmc.py
  pymc/step_methods/slicer.py
  pymc/tests/test_data_container.py
  pymc/tests/test_dist_math.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_gp.py
  pymc/tests/test_idata_conversion.py
  pymc/tests/test_logprob.py
  pymc/tests/test_minibatches.py
  pymc/tests/test_missing.py
  pymc/tests/test_model.py
  pymc/tests/test_model_func.py
  pymc/tests/test_ode.py
  pymc/tests/test_profile.py
  pymc/tests/test_shared.py
  pymc/tests/test_smc.py
  pymc/tests/test_starting.py
  pymc/tests/test_step.py
  pymc/tests/test_transforms.py
  pymc/tuning/scaling.py
  pymc/tuning/starting.py
Labels: request discussion, maintenance

#5374 Test Exponential distribution in `test_find_constrained_prior`
  pymc/tests/test_func_utils.py
Labels: maintenance, aesara-related

#5366 tighten test_normal_scalar bound
  pymc/tests/test_sampling.py
Labels: request discussion

#5370 Remove automatic normalization in Multinomial and Categorical #5331
  RELEASE-NOTES.md
  pymc/distributions/discrete.py
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
  pymc/tests/test_idata_conversion.py
Labels: maintenance

#5402 Temporarily pin upper numpydoc version
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  requirements-dev.txt
Labels: docs

#5387 Switch GitHub Actions to install environments with mamba #5375
  .github/workflows/pytest.yml
Labels: Github CI/CD

#5386 Allow for scalar or size 1 `mu` in `MvNormal` and `MvStudentT`
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_distributions_random.py
Labels: request discussion

#5416 Sampling jax supervisor
  pymc/sampling_jax.py
  pymc/tests/test_sampling_jax.py
Labels: jax

#5431 Add optional idata_kwargs to sample_numpyro_nuts
  pymc/sampling_jax.py
  pymc/tests/test_sampling_jax.py
Labels: jax
