Repository pymc-devs/pymc, pull requests merged in 2022-07, with the labels that each got.

#5938 Update docs build and contributing instructions
  CONTRIBUTING.md
  docs/source/contributing/build_docs.md
  make.bat
Labels: docs

#5936 Add numpyro install to building docs instructions
  docs/source/contributing/build_docs.md
Labels: docs

#5949 ⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Labels: pre-commit, no releasenotes

#5873 Point installation links to new installation guide in docs
  README.rst
  docs/source/learn/core_notebooks/pymc_overview.ipynb
Labels: docs

#5982 Updated docstrings of some distribution classes inside multivariate.py
  pymc/distributions/multivariate.py
Labels: docs

#5976 Skip tests action if only other actions changed
  .github/workflows/tests.yml
Labels: Github CI/CD, no releasenotes

#6006 Make mypy script more instructive
  scripts/run_mypy.py
Labels: maintenance, pre-commit, no releasenotes

#6017 Fix typos in Docker hub secret names
  .github/workflows/docker-image.yml
Labels: Github CI/CD, no releasenotes
