Repository pymc-devs/pymc, pull requests merged in 2022-08, with the labels that each got.

#5981 Constrain priors with symmetric mass distribution
  pymc/func_utils.py
  pymc/tests/test_func_utils.py
Labels: enhancements, maintenance, v4

#6037 Fix AttributeError in HMC bad initial energy warning
  pymc/step_methods/hmc/base_hmc.py
Labels: defects

#6066 Remove note that probs are automatically rescaled
  pymc/distributions/discrete.py
  pymc/distributions/multivariate.py
Labels: docs

#6067 Clean up some warnings from the test suite
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_timeseries.py
  pymc/tests/test_hmc.py
  pymc/tests/test_idata_conversion.py
  pymc/tests/test_math.py
  pymc/tests/test_missing.py
  pymc/tests/test_mixture.py
  pymc/tests/test_model.py
  pymc/tests/test_model_graph.py
  pymc/tests/test_ode.py
  pymc/tests/test_parallel_sampling.py
  pymc/tests/test_quadpotential.py
  pymc/tests/test_sampling.py
  pymc/tests/test_sampling_jax.py
  pymc/tests/test_smc.py
  pymc/tests/test_starting.py
  pymc/tests/test_step.py
  pymc/tests/test_tuning.py
  pymc/tests/test_types.py
  pymc/tests/test_variational_inference.py
  pymc/tuning/starting.py
Labels: tests, maintenance
