Repository pymc-devs/pymc, pull requests merged in 2022-12, with the labels that each got.

#6356 Fix VI `var_replacement` test
  pymc/tests/variational/test_inference.py
Labels: tests, VI, no releasenotes

#6368 ⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Labels: no releasenotes

#6373 Add informative error if user mixes Aesara functions with PyTensor variables
  pymc/pytensorf.py
Labels: request discussion, pytensor-related, no releasenotes

#6375 Deprecate ordered transform
  docs/source/api/distributions/transforms.rst
  pymc/distributions/transforms.py
Labels: maintenance, major

#6374 Add helper to compute `log_likelihood` and stop computing it by default
  .github/workflows/tests.yml
  docs/source/api/misc.rst
  docs/source/learn/core_notebooks/model_comparison.ipynb
  pymc/backends/arviz.py
  pymc/sampling/jax.py
  pymc/stats/__init__.py
  pymc/stats/log_likelihood.py
  pymc/tests/backends/test_arviz.py
  pymc/tests/sampling/test_forward.py
  pymc/tests/sampling/test_jax.py
  pymc/tests/stats/__init__.py
  pymc/tests/stats/test_log_likelihood.py
Labels: major

#6341 Allow transforms to work with multiple-valued nodes
  pymc/logprob/transforms.py
  pymc/tests/logprob/test_transforms.py
Labels: enhancements, logprob-related

#6343 Fix transformed Scan values
  pymc/logprob/scan.py
  pymc/logprob/transforms.py
  pymc/tests/logprob/test_transforms.py
Labels: bug, logprob-related

#6383 Curate ecosystem references
  README.rst
Labels: docs

#6381 Switch `run_mypy.py` from pass-listing to fail-listing
  scripts/run_mypy.py
Labels: maintenance, pre-commit

#6382 Run `pydocstyle` in pre-commit
  .pre-commit-config.yaml
  pymc/blocking.py
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/dist_math.py
  pymc/distributions/distribution.py
  pymc/distributions/multivariate.py
  pymc/distributions/transforms.py
  pymc/distributions/truncated.py
  pymc/gp/util.py
  pymc/logprob/abstract.py
  pymc/logprob/joint_logprob.py
  pymc/logprob/rewriting.py
  pymc/logprob/scan.py
  pymc/logprob/transforms.py
  pymc/logprob/utils.py
  pymc/math.py
  pymc/model.py
  pymc/model_graph.py
  pymc/ode/__init__.py
  pymc/ode/ode.py
  pymc/pytensorf.py
  pymc/sampling/population.py
  pymc/step_methods/hmc/hmc.py
  pymc/step_methods/slicer.py
  pymc/util.py
  pymc/variational/approximations.py
  pymc/variational/opvi.py
  pymc/variational/updates.py
  setup.cfg
Labels: docs, pre-commit

#6392 Update Release Notes template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release.yml
Labels: release, maintenance

#6396 Remove global RandomStream
  pymc/data.py
  pymc/distributions/simulator.py
  pymc/pytensorf.py
  pymc/sampling/parallel.py
  pymc/tests/conftest.py
  pymc/tests/helpers.py
  pymc/tests/test_data.py
  pymc/variational/inference.py
Labels: maintenance

#6386 ⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Labels: pre-commit, no releasenotes

#6395 Fix error in docstring of Truncated
  pymc/distributions/truncated.py
Labels: docs

#6371 Implement logp derivation for division, subtraction and negation
  pymc/logprob/transforms.py
  pymc/tests/logprob/test_transforms.py
Labels: enhancements, logprob-related

#6400 Extend logprob inference to power transforms
  pymc/logprob/transforms.py
  pymc/tests/logprob/test_transforms.py
Labels: enhancements, logprob-related

#6411 ⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Labels: no releasenotes

#6416 update list of core contributors
  GOVERNANCE.md
Labels: no releasenotes

#6419 Default VonMises kappa to 1.0 and fix math notation in doc
  pymc/distributions/continuous.py
Labels: docs, maintenance
