Repository pymc-devs/pymc, pull requests merged in 2022-02, with the labels that each got.

#5442 Set default updates for all graph RandomVariables in compile_pymc
  pymc/aesaraf.py
  pymc/tests/test_aesaraf.py
Labels: request discussion, aesara-related

#5444 Fix transform projection bug
  pymc/model.py
  pymc/tests/test_sampling.py
Labels: defects

#5420 Cleanup trace initialization and type hints
  pymc/distributions/distribution.py
  pymc/distributions/shape_utils.py
  pymc/sampling.py
  pyproject.toml
Labels: maintenance

#5389 API backports and deprecation warnings
  RELEASE-NOTES.md
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  pymc3/distributions/__init__.py
  pymc3/distributions/continuous.py
  pymc3/distributions/timeseries.py
  pymc3/distributions/transforms.py
  pymc3/sampling.py
  requirements-dev.txt
Labels: v3

#5450 Pin SciPy to `>=1.7.3,<1.8.0`
  RELEASE-NOTES.md
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  pymc3/tests/test_distributions.py
  requirements-dev.txt
  requirements.txt
Labels: v3, installation

#5471 Update aeppl dependency
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  pymc/tests/test_distributions.py
  requirements-dev.txt
  requirements.txt
Labels: aeppl-related

#5472 Change tests included in arviz_compat workflow
  .github/workflows/arviz_compat.yml
Labels: request discussion, Github CI/CD

#5478 Add blas dependency temporarily
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  scripts/generate_pip_deps_from_conda.py
Labels: installation, pymc - data umbrella sprint

#5498 Add tensor_like to glossary
  docs/source/conf.py
  docs/source/glossary.md
Labels: docs

#4582 Make VI work on v4
  .github/workflows/pytest.yml
  pymc/backends/arviz.py
  pymc/distributions/logprob.py
  pymc/model.py
  pymc/sampling.py
  pymc/tests/test_variational_inference.py
  pymc/variational/approximations.py
  pymc/variational/flows.py
  pymc/variational/inference.py
  pymc/variational/opvi.py
  pymc/variational/updates.py
Labels: v4, VI

#5526 Jitter initial points in sample_numpyro_nuts
  pymc/sampling_jax.py
  pymc/tests/test_sampling_jax.py
Labels: jax
