Repository pymc-devs/pymc, pull requests merged in 2022-04, with the labels that each got.

#5298 Start adding GRW RV Op and distribution
  pymc/distributions/timeseries.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_distributions_timeseries.py
  scripts/run_mypy.py
Labels: v4

#5696 Eval symbolic shapes before warning condition
  pymc/gp/cov.py
Labels: defects

#5711 Deterministic group order of Approximations
  pymc/variational/opvi.py
Labels: defects, VI

#5672 Upgrade Aesara and Aeppl dependencies
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  pymc/distributions/mixture.py
  pymc/distributions/transforms.py
  pymc/tests/test_mixture.py
  requirements-dev.txt
  requirements.txt
Labels: aesara-related, aeppl-related
