Repository pymc-devs/pymc, pull requests merged in 2022-05, with the labels that each got.

#5377 Fix seeding issues in sequential sampling
  pymc/sampling.py
  pymc/tests/test_sampling.py
Labels: defects, help wanted

#5655 Add admonition about unobserved continuous censored distributions
  pymc/distributions/censored.py
Labels: docs

#5805 Limit model graph nodes to named model variables
  pymc/model_graph.py
Labels: defects

#5823 Make Metropolis cope better with multiple dimensions
  pymc/step_methods/metropolis.py
  pymc/step_methods/mlda.py
  pymc/tests/test_step.py
Labels: maintenance
