Repository pymc-devs/pymc, pull requests merged in 2022-09, with the labels that each got.

#6101 Make rvs_to_values work with non-RandomVariables
  pymc/aesaraf.py
  pymc/gp/util.py
  pymc/model.py
  pymc/step_methods/metropolis.py
  pymc/tests/distributions/test_logprob.py
  pymc/tests/test_aesaraf.py
  pymc/tests/test_sampling.py
  pymc/variational/opvi.py
Labels: defects, aeppl-related

#6120 Pin pydata-sphinx-theme
  conda-envs/environment-dev.yml
  conda-envs/windows-environment-dev.yml
  requirements-dev.txt
Labels: docs

#6112 Remove support for "dims on the fly"
  pymc/distributions/distribution.py
  pymc/distributions/shape_utils.py
  pymc/tests/distributions/test_shape_utils.py
  pymc/tests/test_data.py
  pymc/tests/test_model.py
Labels: major

#6130 Revert "Add `start_sigma` to ADVI (#6096)"
  pymc/tests/test_variational_inference.py
  pymc/variational/approximations.py
  pymc/variational/inference.py
Labels: no releasenotes

#6133 Fix last remaining PyMC3 occurrences & broken link
  README.rst
  docs/source/_templates/donate.html
  docs/source/learn/core_notebooks/GLM_linear.ipynb
  docs/source/learn/core_notebooks/posterior_predictive.ipynb
  pymc/tests/distributions/test_continuous.py
Labels: docs, maintenance

#6142 Log `basic_RVs` sampled in `sample_*_predictive` functions
  pymc/sampling.py
  pymc/tests/test_sampling.py
Labels: maintenance

#6134 Correct minor typos in GOVERNANCE.md
  GOVERNANCE.md
Labels: no releasenotes

#6137 ⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Labels: no releasenotes

#6154 Update mypy to version 0.981
  .pre-commit-config.yaml
  pymc/blocking.py
Labels: pre-commit, no releasenotes

#6157 Bugfix for #6143, flakey K-means test in GP submodule
  pymc/tests/gp/test_util.py
Labels: no releasenotes

#6151 Fix DiscreteUniformRV dropping degenerate dimension
  pymc/distributions/discrete.py
  pymc/tests/distributions/test_discrete.py
Labels: defects

#6147 Check shared variable values to determine volatility in posterior predictive sampling
  pymc/model.py
  pymc/sampling.py
  pymc/tests/test_sampling.py
Labels: defects, maintenance

#6166 Update distribution guide
  docs/source/contributing/implementing_distribution.md
Labels: docs, no releasenotes
