Repository pymc-devs/pymc, pull requests merged in 2022-03, with the labels that each got.

#5529 SMC: Use correlation to autotune n_steps
  pymc/smc/smc.py
  pymc/tests/test_smc.py
Labels: SMC

#5525 BART: fix predictions when using 1 chain
  pymc/bart/bart.py
  pymc/bart/pgbart.py
Labels: BART

#5562 Initiate v4.0.0b3 release
  RELEASE-NOTES.md
  pymc/__init__.py
Labels: release

#5438 Refactor Mixture distribution for V4
  .github/workflows/pytest.yml
  RELEASE-NOTES.md
  docs/source/api/distributions/mixture.rst
  pymc/distributions/__init__.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_mixture.py
Labels: v4

#5549 Run mypy in pre-commit for continuous improvement of type hints
  .pre-commit-config.yaml
  mypy.ini
  pymc/__init__.py
  pymc/backends/arviz.py
  pymc/blocking.py
  pymc/data.py
  pymc/distributions/continuous.py
  pymc/distributions/distribution.py
  pymc/distributions/shape_utils.py
  pymc/initial_point.py
  pymc/model.py
  pymc/parallel_sampling.py
  pymc/tests/__init__.py
  pymc/tuning/starting.py
  pyproject.toml
  scripts/run_mypy.py
  setup.cfg
Labels: maintenance, pre-commit

#5477 Adding NUTS sampler from blackjax to sampling_jax
  .github/workflows/jaxtests.yml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  docs/source/api/samplers.rst
  pymc/sampling_jax.py
  pymc/tests/test_sampling_jax.py
  scripts/generate_pip_deps_from_conda.py
Labels: jax

#5597 FInal preparations for the 3.11.5 release
  .github/workflows/release.yml
  RELEASE-NOTES.md
  pymc3/__init__.py
Labels: release, v3

#5605 Bump for b4 release
  RELEASE-NOTES.md
  pymc/__init__.py
Labels: release

#5615 Do not set RNG updates inplace in compile_pymc
  pymc/aesaraf.py
  pymc/tests/test_aesaraf.py
Labels: maintenance

#5619 Refine trigger filter for both PRs and pushes
  .github/workflows/arviz_compat.yml
  .github/workflows/jaxtests.yml
  .github/workflows/pytest.yml
Labels: Github CI/CD

#5611 Update contributing guide with etiquette section
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: maintenance

#5614 Raise ValueError if random variables are present in the logp graph
  pymc/distributions/logprob.py
  pymc/tests/test_logprob.py
  pymc/tests/test_parallel_sampling.py
Labels: maintenance, aeppl-related

#5639 Bump version for b5 release
  RELEASE-NOTES.md
  pymc/__init__.py
Labels: release

#5640 Refine Interval docstrings and fix typo
  pymc/distributions/transforms.py
Labels: docs, maintenance

#5647 Upgrade all cache actions to v3
  .github/workflows/autoupdate-pre-commit-config.yml
  .github/workflows/dispatched_pre-commit.yml
  .github/workflows/tests.yml
Labels: maintenance, Github CI/CD

#5671 Bump version for b6 release
  RELEASE-NOTES.md
  pymc/__init__.py
Labels: release
