Repository pymc-devs/pymc, pull requests merged in 2023-09, with the labels that each got.

#6887 Remove experimental warning from external nuts samplers.
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc_external.py
Labels: maintenance

#6846 Logprob derivation for Min of continuous IID variables
  pymc/logprob/order.py
  tests/logprob/test_order.py
Labels: enhancements, logprob-related

#6893 Reject logp derivation of binary operations with broadcasted measurable input
  pymc/logprob/binary.py
  tests/logprob/test_binary.py
Labels: maintenance, logprob-related

#6889 Cast `ZeroSumNormal` shape operations to `config.floatX`
  pymc/distributions/multivariate.py
  pymc/distributions/transforms.py
  tests/distributions/test_multivariate.py
Labels: maintenance

#6890 Link to updated PyMC port of DBDA in README
  README.rst
Labels: docs

#6826 Derive logprob for exp2, log2, log10, log1p, expm1, log1mexp, log1pexp (softplus), and sigmoid transformations
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Labels: enhancements, logprob-related

#6901 ⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Labels: no releasenotes

#6872 Fix wrong ZeroSumNormal logp expression
  pymc/distributions/multivariate.py
  tests/distributions/test_multivariate.py
Labels: bug

#6882 Fix bug in `compute_log_likelihood` when variable has dims without coords
  pymc/backends/arviz.py
  pymc/model/core.py
  pymc/sampling/jax.py
  pymc/stats/log_likelihood.py
  tests/stats/test_log_likelihood.py
Labels: bug

#6924 Fix fgraph_from_model with multivariate transformed variables
  pymc/model/fgraph.py
  tests/model/test_fgraph.py
Labels: bug, logprob-related
