Repository pymc-devs/pymc, pull requests merged in 2023-04, with the labels that each got.

#6639 install theme from conda
  conda-envs/environment-docs.yml
Labels: no releasenotes

#6641 Added ICDF for the continuous exponential distribution.
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Labels: enhancements

#6624 ⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Labels: no releasenotes

#6646 Add Gitpod video to contributing page
  docs/source/contributing/using_gitpod.md
Labels: docs

#6652 Improve docstrings in GP module
  pymc/gp/gp.py
Labels: docs

#6651 Issue warning if RVs are present in derived probability graphs
  pymc/logprob/basic.py
  tests/logprob/test_basic.py
Labels: enhancements, logprob-related

#6654 Add all_tests job to be used as single requirement
  .github/workflows/tests.yml
Labels: Github CI/CD, no releasenotes

#6659 Fix changed files filters in tests workflow
  .github/workflows/tests.yml
Labels: bug, Github CI/CD, no releasenotes

#6665 Bump Pytensor dependency
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/distributions/continuous.py
  pymc/distributions/dist_math.py
  pymc/distributions/multivariate.py
  pymc/logprob/transforms.py
  pymc/model.py
  requirements-dev.txt
  requirements.txt
  tests/test_printing.py
Labels: release, pytensor-related, major

#6669 Fix dtype casting bug in icdf function
  pymc/logprob/basic.py
  tests/logprob/test_basic.py
Labels: bug, logprob-related

#6653 Arrange distributions and sub-contents alphabetically
  docs/source/api/distributions/continuous.rst
  docs/source/api/distributions/discrete.rst
  docs/source/api/distributions/multivariate.rst
  docs/source/api/distributions/timeseries.rst
  docs/source/api/distributions/transforms.rst
  docs/source/api/distributions/utilities.rst
Labels: docs

#6678 Make metropolis elemwise updates independent of each other
  pymc/step_methods/metropolis.py
  tests/step_methods/test_metropolis.py
Labels: enhancements

#6662 Derive logprob of less and greater than comparisons
  .github/workflows/tests.yml
  pymc/logprob/__init__.py
  pymc/logprob/binary.py
  pymc/logprob/transforms.py
  pymc/logprob/utils.py
  scripts/run_mypy.py
  tests/logprob/test_binary.py
Labels: enhancements, logprob-related

#6680 Add logprob derivation for >= and <= operations
  pymc/logprob/binary.py
  tests/logprob/test_binary.py
Labels: enhancements, logprob-related

#6681 Update link to PyMC v5 port of DBDA book
  docs/source/learn/books.md
Labels: docs

#6674 Fix WhiteNoise subclassing from Covariance
  pymc/gp/cov.py
  pymc/gp/gp.py
  tests/gp/test_cov.py
Labels: bug, GP

#6676 Rectify type-hints for `set_data`
  pymc/model.py
Labels: maintenance

#6690 Add logcdf implementation for Truncated distributions
  pymc/distributions/truncated.py
  tests/distributions/test_truncated.py
Labels: enhancements

#6671 Improve numerical precision of discrete uniform and geometric ICDFs
  pymc/distributions/discrete.py
Labels: enhancements

#6692 Updated Pytest video series link
  docs/source/contributing/running_the_test_suite.md
Labels: docs, no releasenotes

#6677 Added scale parameterization to `Exponential`
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Labels: enhancements
