Repository pymc-devs/pymc, pull requests merged in 2023-08, with the labels that each got.

#6799 Remove `SeededTest` class
  pymc/testing.py
  tests/conftest.py
  tests/distributions/test_mixture.py
  tests/distributions/test_simulator.py
  tests/distributions/test_transform.py
  tests/sampler_fixtures.py
  tests/sampling/test_forward.py
  tests/sampling/test_mcmc.py
  tests/smc/test_smc.py
  tests/test_data.py
  tests/test_math.py
  tests/test_model.py
  tests/test_model_graph.py
Labels: maintenance

#6848 Do not use `seeded_test` fixture in exported `BaseTestDistributionRandom`
  pymc/testing.py
  tests/distributions/test_continuous.py
  tests/distributions/test_multivariate.py
Labels: release, tests, maintenance, no releasenotes

#6855 Add colors to tests
  pyproject.toml
Labels: tests, no releasenotes

#6861 Update library citation
  CITATION.bib
  README.rst
Labels: docs

#6863 fix format library citation
  CITATION.bib
  README.rst
Labels: docs, no releasenotes

#6862 Add install instructions for nutpie
  docs/source/installation.md
Labels: docs

#6870 ⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Labels: maintenance, no releasenotes

#6867 Add ICAR to the list of distributions in the docs
  docs/source/api/distributions/multivariate.rst
Labels: docs, no releasenotes

#6865 Add `Model.to_graphviz` shortcut
  pymc/model.py
  tests/test_model.py
Labels: maintenance

#6881 Bump PyTensor dependency
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/logprob/rewriting.py
  pymc/logprob/tensor.py
  requirements-dev.txt
  requirements.txt
  tests/logprob/test_tensor.py
  tests/logprob/test_utils.py
Labels: release, maintenance, pytensor-related, major
