Repository pymc-devs/pymc, pull requests merged in 2023-07, with the labels that each got.

#6809 Prevent unbound trace due to type hints
  pymc/model.py
Labels: maintenance

#6821 Fix mathematical notation in conditional_logprob docstrings
  pymc/logprob/basic.py
Labels: docs

#6822 Allow creating CustomDist inside another CustomDist
  pymc/distributions/distribution.py
  pymc/model.py
  tests/distributions/test_distribution.py
Labels: bug

#6829 Don't use size and simplify dims example in dimensionality notebook
  docs/source/learn/core_notebooks/dimensionality.ipynb
Labels: docs

#6832 Drop support for Python 3.8
  .github/workflows/tests.yml
  setup.py
Labels: release, major

#6742 Add GP Wrapped Periodic Kernel
  pymc/gp/cov.py
  tests/gp/test_cov.py
Labels: enhancements, GP

#6769 Logprob derivation for Max
  .github/workflows/tests.yml
  pymc/logprob/__init__.py
  pymc/logprob/order.py
  pymc/logprob/rewriting.py
  scripts/run_mypy.py
  tests/logprob/test_order.py
Labels: enhancements, logprob-related
