Repository pymc-devs/pymc, pull requests merged in 2023-12, with the labels that each got.

#7052 Improve PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: release, no releasenotes

#7057 Use dataset.sizes instead of dataset.dims
  pymc/backends/arviz.py
  tests/backends/test_arviz.py
  tests/sampling/test_jax.py
  tests/smc/test_smc.py
Labels: Github CI/CD, no releasenotes, dependencies

#7055 Avoid inplace mutation in `replace_rvs_by_values`
  pymc/logprob/utils.py
  pymc/pytensorf.py
  tests/logprob/test_utils.py
  tests/test_pytensorf.py
Labels: bug, logprob-related

#7063 Allow batched scalar sigma in ZeroSumNormal
  pymc/distributions/multivariate.py
  tests/distributions/test_multivariate.py
Labels: enhancements

#7065 Fix failing default transform for `LKJCorr`
  pymc/distributions/multivariate.py
  pymc/logprob/transform_value.py
  tests/distributions/test_multivariate.py
Labels: bug

#7071 Fix issue with sampling of PartialObservedRVs
  pymc/distributions/distribution.py
  pymc/pytensorf.py
  tests/distributions/test_distribution.py
  tests/sampling/test_jax.py
Labels: bug, jax

#7034 Implement logcdf for TruncatedNormal
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Labels: enhancements

#6995 Add test for Blockwise logp regression
  tests/distributions/test_multivariate.py
Labels: bug, tests, pytensor, no releasenotes
