Repository pymc-devs/pymc, pull requests merged in 2023-02, with the labels that each got.

#6493 Register Op as subclass of Distributions with `rv_type` defined
  pymc/distributions/distribution.py
  pymc/tests/distributions/test_distribution.py
Labels: maintenance

#6344 Add nu parametrization to beta distribution
  pymc/distributions/continuous.py
  pymc/tests/distributions/test_continuous.py
Labels: enhancements

#6521 Fix flaky `test_truncation_specialized_op`
  pymc/tests/distributions/test_truncated.py
Labels: tests, no releasenotes

#6545 Fix some code lints found with ruff
  pymc/distributions/dist_math.py
  pymc/distributions/distribution.py
  pymc/gp/util.py
  pymc/logprob/transforms.py
  pymc/model.py
  pymc/model_graph.py
  pymc/sampling/jax.py
  pymc/step_methods/hmc/integration.py
  pymc/step_methods/hmc/nuts.py
  pymc/variational/approximations.py
  pymc/variational/opvi.py
  scripts/run_mypy.py
Labels: maintenance

#6524 Add check for variables in step samplers
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc.py
Labels: maintenance

#6523 Replace rvs_to_total_sizes mapping by MinibatchRandomVariables
  .github/workflows/tests.yml
  pymc/logprob/joint_logprob.py
  pymc/model.py
  pymc/util.py
  pymc/variational/minibatch_rv.py
  pymc/variational/opvi.py
  tests/distributions/test_transform.py
  tests/distributions/util.py
  tests/logprob/test_joint_logprob.py
  tests/logprob/test_utils.py
  tests/logprob/utils.py
  tests/test_data.py
  tests/test_model.py
  tests/variational/test_minibatch_rv.py
  tests/variational/test_opvi.py
Labels: maintenance, major
