Repository pymc-devs/pymc, pull requests merged in 2023-11, with the labels that each got.

#6979 Add more missing functions to math module
  pymc/math.py
Labels: maintenance

#6982 Fix compute_test_value error when creating observed variables
  pymc/model/core.py
  tests/model/test_core.py
Labels: bug

#6978 Recognize alternative form of sigmoid in logprob inference
  pymc/logprob/rewriting.py
  tests/logprob/test_transforms.py
Labels: enhancements, logprob-related

#6873 Default `moment` for `CustomDist` provided with a `dist` function
  pymc/distributions/distribution.py
  tests/distributions/test_distribution.py
Labels: enhancements

#7007 ChiSquared now returns a Gamma random variable
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
  tests/logprob/test_transform_value.py
  tests/logprob/test_transforms.py
Labels: maintenance, pytensor-related, major

#7018 update theme
  conda-envs/environment-docs.yml
  docs/source/conf.py
Labels: no releasenotes

#7025 Fix docs formatting in `shape_utils`
  pymc/distributions/shape_utils.py
Labels: docs

#7028 Use PyTensor StudentT RV
  pymc/distributions/continuous.py
Labels: maintenance

#7033 Remove several deprecated model properties and deprecate new ones
  pymc/model/core.py
  tests/model/test_core.py
  tests/sampling/test_mcmc.py
  tests/variational/test_approximations.py
Labels: major

#7020 Bump Pytensor dependency to `>=2.18.1,<2.19`
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-jax.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
  requirements.txt
Labels: release, pytensor-related, major

#7026 Better float32 sampling support for TruncatedNormal
  pymc/distributions/continuous.py
Labels: bug

#7039 Remove message about JAX not being supported on Windows in installation instructions
  docs/source/installation.md
Labels: docs
