Repository pymc-devs/pymc, pull requests merged in 2023-01, with the labels that each got.

#6430 Add dependabot config
  .github/dependabot.yml
Labels: maintenance, Github CI/CD, no releasenotes

#6440 Revert "Add informative error if user tries to use Aesara function with PyTensor variables
  pymc/pytensorf.py
Labels: bug, pytensor-related

#6414 Infer logprob of absolute operations and fix logprob of powers with negative values
  pymc/logprob/transforms.py
  pymc/tests/logprob/test_transforms.py
Labels: enhancements, bug, logprob-related

#6433 Reference template notebook in Jupyter style guide
  docs/source/contributing/jupyter_style.md
Labels: docs

#6442 Spell-check code, docs and comments
  GOVERNANCE.md
  RELEASE-NOTES.md
  docs/source/api.rst
  docs/source/api/shape_utils.rst
  docs/source/contributing/developer_guide.md
  docs/source/contributing/implementing_distribution.md
  docs/source/contributing/jupyter_style.md
  docs/source/contributing/versioning_schemes_explanation.md
  docs/source/guides/Gaussian_Processes.rst
  docs/source/learn/core_notebooks/GLM_linear.ipynb
  docs/source/learn/core_notebooks/dimensionality.ipynb
  docs/source/learn/core_notebooks/model_comparison.ipynb
  docs/source/learn/core_notebooks/posterior_predictive.ipynb
  docs/source/learn/core_notebooks/pymc_overview.ipynb
  pymc/backends/arviz.py
  pymc/backends/base.py
  pymc/distributions/distribution.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
  pymc/distributions/simulator.py
  pymc/distributions/timeseries.py
  pymc/distributions/transforms.py
  pymc/gp/cov.py
  pymc/logprob/censoring.py
  pymc/model_graph.py
  pymc/ode/utils.py
  pymc/printing.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
  pymc/smc/kernels.py
  pymc/step_methods/hmc/quadpotential.py
  pymc/step_methods/slicer.py
  pymc/tests/backends/fixtures.py
  pymc/tests/distributions/test_continuous.py
  pymc/tests/distributions/test_distribution.py
  pymc/tests/distributions/test_mixture.py
  pymc/tests/distributions/test_multivariate.py
  pymc/tests/distributions/test_transform.py
  pymc/tests/gp/test_gp.py
  pymc/tests/logprob/test_tensor.py
  pymc/tests/logprob/test_transforms.py
  pymc/tests/ode/test_ode.py
  pymc/tests/sampling/test_jax.py
  pymc/tests/smc/test_smc.py
  pymc/tests/step_methods/hmc/test_nuts.py
  pymc/tests/test_model.py
  pymc/tests/test_model_graph.py
  pymc/tuning/starting.py
  scripts/run_mypy.py
Labels: docs, no releasenotes

#6445 ⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Labels: pre-commit, no releasenotes

#6425 Fix bug that does not correctly set the dtype of determinsitic variab…
  pymc/model.py
  pymc/tests/test_model.py
Labels: bug

#6451 Remove `add_values`/`remove_values` to fix backend type issues
  pymc/backends/base.py
  pymc/tests/backends/test_ndarray.py
Labels: trace-backend, major

#6462 Use separate argument in `CustomDist` for functions that return symbolic representations
  pymc/distributions/distribution.py
  pymc/tests/distributions/test_distribution.py
Labels: enhancements, docs

#6470 Enforce `dims` elements to be strings
  pymc/backends/arviz.py
  pymc/model.py
  pymc/tests/test_model.py
Labels: bug, major

#6480 Fix typo in model comparison notebook
  docs/source/learn/core_notebooks/model_comparison.ipynb
Labels: docs
