Repository pymc-devs/pymc, pull requests merged in 2023-10, with the labels that each got.

#6936 Fix do/conditioning model docs
  docs/source/api.rst
  docs/source/api/model.rst
  docs/source/api/model/conditioning.rst
  docs/source/api/model/core.rst
  pymc/model/transform/conditioning.py
Labels: docs

#6942 Make `Model.str_repr` robust to variables without monkey-patch
  pymc/printing.py
  tests/test_printing.py
Labels: bug

#6943 Add constant and observed data to nutpie idata
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc_external.py
Labels: bug

#6933 Improve multinomial moment
  pymc/distributions/multivariate.py
  tests/distributions/test_multivariate.py
Labels: enhancements

#6957 Add expression for NegativeBinomial variance
  pymc/distributions/discrete.py
Labels: docs

#6958 Fix HurdleLogNormal Docstring
  pymc/distributions/mixture.py
Labels: maintenance

#6961 Use numpy testing utilities instead of custom close_to*
  tests/checks.py
  tests/distributions/test_dist_math.py
  tests/distributions/test_transform.py
  tests/helpers.py
  tests/step_methods/test_metropolis.py
  tests/tuning/test_starting.py
Labels: tests, maintenance

#6956 Include more PyTensor functions in math module
  pymc/math.py
Labels: maintenance

#6952 Fix bug in GP Periodic and WrappedPeriodic kernel full method
  pymc/gp/cov.py
  tests/gp/test_cov.py
Labels: bug, GP

#6963 Improve blackjax sampling integration
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
Labels: enhancements, jax

#6790 Logprob derivation of Max for Discrete IID distributions
  pymc/logprob/order.py
  tests/logprob/test_order.py
Labels: enhancements, logprob-related

#6923 Fix rejection-based truncation of scalar variables
  pymc/distributions/truncated.py
  tests/distributions/test_truncated.py
Labels: bug

#6962 Support logp derivation of `power(base, rv)`
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Labels: enhancements, logprob-related
