Repository pymc-devs/pymc, pull requests merged in 2023-06, with the labels that each got.

#6760 Rename basic "joint_logprob" functions to "conditional_logp"
  pymc/logprob/__init__.py
  pymc/logprob/basic.py
  pymc/logprob/scan.py
  pymc/model.py
  pymc/testing.py
  tests/distributions/test_transform.py
  tests/logprob/test_basic.py
  tests/logprob/test_binary.py
  tests/logprob/test_censoring.py
  tests/logprob/test_checks.py
  tests/logprob/test_composite_logprob.py
  tests/logprob/test_cumsum.py
  tests/logprob/test_mixture.py
  tests/logprob/test_rewriting.py
  tests/logprob/test_scan.py
  tests/logprob/test_tensor.py
  tests/logprob/test_transforms.py
  tests/logprob/test_utils.py
  tests/test_model.py
Labels: maintenance, logprob-related, major

#6759 Fix `check_all_tests_are_covered` hook
  .pre-commit-config.yaml
  scripts/check_all_tests_are_covered.py
Labels: bug, pre-commit, no releasenotes

#6765 Fix bug in switch mixture logp
  pymc/logprob/mixture.py
  tests/logprob/test_mixture.py
Labels: bug, logprob-related

#6768 Removed **kwargs from sample_numpyro_nuts and sample_blackjax_nuts
  pymc/sampling/jax.py
Labels: maintenance, jax

#6775 Probabilty inference for arc transformations
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Labels: enhancements, logprob-related

#6764 squeeze dim_0 dimensions for scalars away
  pymc/backends/arviz.py
  tests/backends/test_arviz.py
Labels: bug

#6772 Simplify Potential docstrings and examples
  pymc/model.py
Labels: docs

#6767 Fix broken link
  docs/source/learn/core_notebooks/GLM_linear.ipynb
Labels: docs

#6781 speed-up doc building and fix several issues
  .gitignore
  .readthedocs.yml
  Makefile
  docs/source/PyMC_and_PyTensor.rst
  docs/source/_templates/distribution.rst
  docs/source/api.rst
  docs/source/api/distributions.rst
  docs/source/api/distributions/censored.rst
  docs/source/api/distributions/continuous.rst
  docs/source/api/distributions/discrete.rst
  docs/source/api/distributions/mixture.rst
  docs/source/api/distributions/multivariate.rst
  docs/source/api/distributions/simulator.rst
  docs/source/api/distributions/timeseries.rst
  docs/source/api/distributions/truncated.rst
  docs/source/api/gp.rst
  docs/source/api/pytensorf.rst
  docs/source/conf.py
  docs/source/contributing/build_docs.md
  docs/source/contributing/index.md
  docs/source/contributing/jupyter_style.md
  docs/source/glossary.md
  docs/source/installation.md
  docs/source/learn.md
  docs/source/learn/core_notebooks/dimensionality.ipynb
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
Labels: docs

#6782 Make tests compatible with latest release of PyTensor
  pymc/model.py
  tests/distributions/test_multivariate.py
  tests/logprob/test_basic.py
  tests/test_pytensorf.py
Labels: tests, pytensor-related, no releasenotes

#6789 np.product to np.prod
  pymc/util.py
Labels: maintenance, no releasenotes

#6780 Better coverage for float32 tests
  .github/workflows/tests.yml
  pymc/logprob/transforms.py
  tests/distributions/test_transform.py
Labels: maintenance

#6766 Add icdf functions for Lognormal, Half Cauchy and Half Normal distributions
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Labels: enhancements

#6793 NotImplementedError for icdf of non-injective MeasurableTransforms
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Labels: bug, logprob-related

#6802 Add icdf functions for Moyal, Gumbel, Triangular and Weibull distributions
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Labels: enhancements

#6807 Fix AePPL copyright notice
  pymc/distributions/continuous.py
Labels: no releasenotes

#6806 Remove unused Model functionality
  pymc/model.py
Labels: maintenance, no releasenotes
