Repository pymc-devs/pymc, pull requests merged in 2023-03, with the labels that each got.

#6558 Revert "Default to using McBackend"
  pymc/backends/__init__.py
Labels: no releasenotes

#6559 Updated docstring for Potential function
  pymc/model.py
Labels: docs

#6565 Fix no-commit-to-branch pre-commit hook to protect main
  .pre-commit-config.yaml
Labels: maintenance, no releasenotes

#6568 `TruncatedNormal` only accepts `mu` and `sigma` as non keyword arguments
  pymc/distributions/continuous.py
Labels: maintenance

#6567 ⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Labels: no releasenotes

#6573 Fix bug in transformed scan variables
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Labels: bug, logprob-related

#6578 Allow Scan logprob inference of non-pure RandomVariable outputs
  pymc/logprob/scan.py
  tests/logprob/test_scan.py
Labels: enhancements, logprob-related

#6571 Public test utilities can now be found in `testing` module
  .github/workflows/tests.yml
  docs/source/contributing/implementing_distribution.md
  pymc/testing.py
  tests/distributions/test_continuous.py
  tests/distributions/test_discrete.py
  tests/distributions/test_distribution.py
  tests/distributions/test_mixture.py
  tests/distributions/test_multivariate.py
  tests/distributions/test_simulator.py
  tests/distributions/test_timeseries.py
  tests/distributions/test_transform.py
  tests/distributions/test_truncated.py
  tests/helpers.py
  tests/logprob/test_censoring.py
  tests/logprob/test_composite_logprob.py
  tests/logprob/test_cumsum.py
  tests/logprob/test_joint_logprob.py
  tests/logprob/test_mixture.py
  tests/logprob/test_scan.py
  tests/logprob/test_tensor.py
  tests/logprob/test_transforms.py
  tests/logprob/test_utils.py
  tests/ode/test_ode.py
  tests/sampler_fixtures.py
  tests/sampling/test_forward.py
  tests/sampling/test_mcmc.py
  tests/smc/test_smc.py
  tests/step_methods/test_compound.py
  tests/step_methods/test_metropolis.py
  tests/test_data.py
  tests/test_math.py
  tests/test_model.py
  tests/test_model_graph.py
  tests/test_pytensorf.py
  tests/test_testing.py
  tests/tuning/test_starting.py
  tests/variational/test_minibatch_rv.py
Labels: enhancements, tests

#6585 Fix typo in ZeroInflatedNegBinomial
  pymc/distributions/discrete.py
Labels: docs

#6591 Fix `warn_treedepth` looking at the wrong stat
  pymc/stats/convergence.py
  tests/stats/test_convergence.py
Labels: bug

#6595 Fix trailing whitespace.
  pymc/sampling/mcmc.py
Labels: no releasenotes

#6598 Fix release yml
  .github/release.yml
Labels: bug, no releasenotes

#6556 Remove shape functions
  docs/source/api/shape_utils.rst
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
  tests/distributions/test_shape_utils.py
Labels: maintenance

#6611 Fix a typo in the docstring for OrderedLogistic
  pymc/distributions/discrete.py
Labels: docs

#6528 Implement icdf for Univariate distribution
  pymc/distributions/continuous.py
  pymc/testing.py
  tests/distributions/test_continuous.py
Labels: enhancements, tests

#6617 Added ICDF for the discrete uniform distribution.
  pymc/distributions/discrete.py
  tests/distributions/test_discrete.py
Labels: enhancements

#6538 Implemented logprob for SpecifyShape and CheckandRaise
  pymc/logprob/__init__.py
  pymc/logprob/checks.py
  tests/logprob/test_checks.py
Labels: enhancements, logprob-related

#6597 Allow logcdf and icdf inference
  pymc/logprob/basic.py
  pymc/logprob/transforms.py
  tests/logprob/test_basic.py
Labels: enhancements, logprob-related

#6620 Improve collect_default_updates
  pymc/distributions/distribution.py
  pymc/pytensorf.py
  tests/test_pytensorf.py
Labels: enhancements
