Repository pymc-devs/pymc, pull requests merged in 2024-09, with the labels that each got.

#7485 Make zip strict in `apply_function_over_dataset`
  pymc/backends/arviz.py
  tests/stats/test_log_density.py
Labels: maintenance

#7488 Remove deprecated Distribution kwargs
  pymc/distributions/distribution.py
  tests/distributions/test_distribution.py
  tests/model/test_core.py
  tests/test_initial_point.py
Labels: maintenance, major

#7500 Add a pre-commit hook to validate CITATION.cff
  .pre-commit-config.yaml
Labels: pre-commit, no releasenotes

#7505 Enable ruff to format code in docstrings
  pymc/backends/__init__.py
  pymc/data.py
  pymc/distributions/continuous.py
  pymc/distributions/custom.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/simulator.py
  pymc/distributions/transforms.py
  pymc/func_utils.py
  pymc/logprob/basic.py
  pymc/model/core.py
  pymc/model/transform/conditioning.py
  pymc/model_graph.py
  pymc/ode/ode.py
  pymc/pytensorf.py
  pymc/sampling/mcmc.py
  pymc/variational/callbacks.py
  pymc/variational/opvi.py
  pymc/variational/updates.py
  pyproject.toml
Labels: docs, pre-commit, no releasenotes

#7509 fix returned object when no vars to sample and extend=True
  pymc/sampling/forward.py
  tests/sampling/test_forward.py
Labels: maintenance, trace-backend
