Repository pymc-devs/pymc, pull requests merged in 2024-07, with the labels that each got.

#7381 Do not consider dims without coords volatile if length has not changed
  pymc/sampling/forward.py
  tests/sampling/test_forward.py
Labels: bug

#7408 Fix bug with multiple minibatch variables
  pymc/pytensorf.py
  tests/test_pytensorf.py
  tests/variational/test_inference.py
Labels: bug, VI

#7311 Reduce JAX post-processing memory usage
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
Labels: maintenance, jax

#7407 Reduce blackjax sampling memory usage
  conda-envs/environment-jax.yml
  pymc/sampling/jax.py
  tests/sampling/test_mcmc_external.py
Labels: maintenance, jax

#7418 pin polyagamma
  .github/workflows/tests.yml
Labels: bug

#7428 Print OP name for unnamed RVs instead of raising AssertionErrors
  pymc/printing.py
  tests/test_printing.py
Labels: bug
