Repository pymc-devs/pymc, pull requests merged in 2024-02, with the labels that each got.

#7129 Upgrade to ruff 0.2.0 and fix RUF017
  .pre-commit-config.yaml
  pymc/backends/report.py
  pymc/logprob/scan.py
  pymc/variational/opvi.py
  pyproject.toml
  requirements-dev.txt
Labels: pre-commit, no releasenotes

#7144 Fix failing VI test due to pytest change
  tests/variational/test_inference.py
Labels: bug, tests, no releasenotes, dependencies

#7156 Add Google Scholar link for newest article
  README.rst
Labels: docs

#7153 Fix copying of shared variables in `fgraph_from_model`
  pymc/model/core.py
  pymc/model/fgraph.py
  tests/model/test_core.py
  tests/model/test_fgraph.py
Labels: bug, pytensor, fgraph

#7114 Remove intX and floatX from distributions
  pymc/distributions/bound.py
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/simulator.py
  pymc/distributions/timeseries.py
  pymc/distributions/transforms.py
  tests/distributions/test_mixture.py
  tests/distributions/test_truncated.py
  tests/test_initial_point.py
  tests/variational/test_inference.py
Labels: maintenance

#7158 Add option to save model graph to an image
  pymc/model/core.py
  pymc/model_graph.py
  tests/model/test_core.py
  tests/test_data.py
Labels: enhancements

#7161 Update link of Bayesian Analysis with Python book to third edition
  README.rst
  docs/source/learn.md
Labels: docs

#7163 Reduce number of minimum draw in warning message
  pymc/sampling/mcmc.py
Labels: maintenance

#7168 Fix `compute_log_prior` in models with `Deterministics`
  pymc/stats/log_density.py
  tests/stats/test_log_density.py
Labels: bug

#7170 Fix typo in developer guide
  docs/source/contributing/developer_guide.md
Labels: docs

#7174 Reduce chance to fail for `test_replace_vars_in_graphs_nested_reference` test case
  tests/test_pytensorf.py
Labels: tests, maintenance, no releasenotes

#7166 Rename moment to finite_logp_point
  docs/source/contributing/implementing_distribution.md
  pymc/distributions/censored.py
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/simulator.py
  pymc/distributions/timeseries.py
  pymc/distributions/truncated.py
  pymc/initial_point.py
  pymc/testing.py
  tests/distributions/test_censored.py
  tests/distributions/test_continuous.py
  tests/distributions/test_discrete.py
  tests/distributions/test_distribution.py
  tests/distributions/test_mixture.py
  tests/distributions/test_multivariate.py
  tests/distributions/test_simulator.py
  tests/distributions/test_timeseries.py
  tests/distributions/test_truncated.py
  tests/test_initial_point.py
Labels: maintenance, major

#7176 Remove deprecated Bound distribution
  .github/workflows/tests.yml
  pymc/distributions/__init__.py
  pymc/distributions/bound.py
  tests/distributions/test_bound.py
  tests/test_printing.py
Labels: maintenance, major

#7159 Add gufunc signature to SymbolicRandomVariables
  pymc/distributions/censored.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/timeseries.py
  tests/distributions/test_distribution.py
Labels: maintenance

#7179 Remove deprecated `sample_posterior_predictive_w`
  pymc/sampling/forward.py
Labels: maintenance, major
