Repository pymc-devs/pymc, pull requests merged in 2024-04, with the labels that each got.

#7231 Make default STEP_METHODS a list that can be modified
  pymc/step_methods/__init__.py
  tests/sampling/test_mcmc.py
  tests/step_methods/test_compound.py
Labels: maintenance, samplers

#7243 Fix doc typo in pymc.CustomDist
  pymc/distributions/distribution.py
Labels: docs

#7249 Fix bug in `compute_deterministics`
  pymc/sampling/deterministic.py
  tests/sampling/test_deterministic.py
Labels: bug

#7250 Fix typo of Data containers in model graph
  pymc/model_graph.py
Labels: bug

#7255 Temporarily pin Scipy in JAX job
  conda-envs/environment-jax.yml
Labels: jax, Github CI/CD, no releasenotes, dependencies

#7261 Fix gradient bug in models with max operation
  pymc/logprob/rewriting.py
  tests/logprob/test_order.py
Labels: bug, pytensor, logprob

#7232 Add introduction section to Transformations API page to document role of Transforms
  docs/source/api/distributions/transforms.rst
  pymc/distributions/transforms.py
Labels: docs, don't merge

#7207 Implement `default_transform` and `transform` argument for distributions
  pymc/distributions/distribution.py
  pymc/model/core.py
  pymc/model/fgraph.py
  tests/distributions/test_mixture.py
  tests/distributions/test_transform.py
  tests/logprob/test_utils.py
  tests/model/test_core.py
  tests/model/transform/test_conditioning.py
  tests/sampling/test_mcmc.py
Labels: enhancements, request discussion

#7271 Fix typo
  pymc/backends/arviz.py
Labels: maintenance

#7275 Fix link to API quick start. Closes #7266.
  README.rst
Labels: docs

#7273 Add time remaining column to progress bars
  pymc/backends/arviz.py
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
  pymc/smc/sampling.py
  pymc/tuning/starting.py
  pymc/variational/inference.py
Labels: enhancements, bug

#7287 Add test to compare draws when `var_names` is used in `pm.sample()`
  tests/sampling/test_mcmc.py
Labels: tests, no releasenotes

#7288 Broadcast shapes of alpha and beta in Weibull rng
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Labels: bug

#7285 Remove redundant pre-commit job
  .github/workflows/mypy.yml
Labels: Github CI/CD, no releasenotes

#7248 Allow freezing only subset of data and dims
  pymc/model/core.py
  pymc/model/transform/optimization.py
  tests/model/transform/test_optimization.py
Labels: enhancements, bug
