Repository pymc-devs/pymc, pull requests merged in 2024-12, with the labels that each got.

#7606 Rename `compile_pymc` to `compile`
  docs/source/api/pytensorf.rst
  pymc/backends/base.py
  pymc/func_utils.py
  pymc/gp/util.py
  pymc/initial_point.py
  pymc/model/core.py
  pymc/pytensorf.py
  pymc/sampling/forward.py
  pymc/smc/kernels.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/slicer.py
  pymc/testing.py
  pymc/variational/opvi.py
  tests/distributions/test_distribution.py
  tests/distributions/test_multivariate.py
  tests/distributions/test_shape_utils.py
  tests/distributions/test_simulator.py
  tests/model/test_core.py
  tests/sampling/test_forward.py
  tests/stats/test_log_density.py
  tests/test_pytensorf.py
Labels: major

#7599 Fix error in docstring example for MatrixNormal
  pymc/distributions/multivariate.py
Labels: docs

#7623 Remove unused pre-commit workflow
  .github/workflows/dispatched_pre-commit.yml
Labels: no releasenotes

#7541 Governance related cleanup
  GOVERNANCE.md
Labels: no releasenotes

#7627 update steering council members
  GOVERNANCE.md
Labels: no releasenotes
