Repository pymc-devs/pymc, pull requests merged in 2024-06, with the labels that each got.

#7347 Fix broken links
  docs/source/404.md
  docs/source/contributing/developer_guide.md
  docs/source/learn/books.md
Labels: docs

#7351 Avoid repeated status polling in smc
  pymc/smc/sampling.py
Labels: maintenance, SMC

#7360 Add more idata attributes for JAX samplers
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc_external.py
Labels: enhancements, jax

#7366 Standardize `draws` as parameter in `sample_prior_predictive`
  docs/source/learn/core_notebooks/posterior_predictive.ipynb
  pymc/sampling/forward.py
  tests/distributions/test_mixture.py
  tests/distributions/test_multivariate.py
  tests/gp/test_hsgp_approx.py
  tests/model/test_core.py
  tests/sampling/test_deterministic.py
  tests/sampling/test_forward.py
Labels: maintenance, major, samplers

#7352 Allow opting out of model nesting by setting `model=None`
  pymc/model/core.py
  pymc/model/fgraph.py
  pymc/model/transform/basic.py
  pymc/model/transform/conditioning.py
  pymc/sampling/deterministic.py
  pymc/stats/log_density.py
  tests/model/test_core.py
  tests/model/test_fgraph.py
Labels: docs, major, model

#7379 Remove default initval for Flat variables
  pymc/distributions/continuous.py
Labels: maintenance

#7388 Fix bug when freezing model with partially observed RVs
  pymc/pytensorf.py
  tests/model/transform/test_optimization.py
  tests/test_pytensorf.py
Labels: bug

#7391 Avoid spurious deprecation warning in CustomDist
  pymc/distributions/custom.py
  tests/distributions/test_custom.py
Labels: bug

#7390 Assert ndim and number of dims match
  pymc/distributions/discrete.py
  pymc/model/core.py
  tests/distributions/test_discrete.py
  tests/model/test_core.py
Labels: bug

#7395 Fix typing in `logprob.tensor`
  pymc/logprob/rewriting.py
  pymc/logprob/tensor.py
  pymc/logprob/utils.py
  scripts/run_mypy.py
Labels: no releasenotes
