Repository pymc-devs/pymc, pull requests merged in 2024-05, with the labels that each got.

#7289 Suggest `var_names` when using deprecated API for partial traces
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc.py
Labels: maintenance, trace-backend

#7265 Fix need for dummy data in `sample_posterior_predictive`
  pymc/backends/arviz.py
  pymc/data.py
  pymc/model/core.py
  pymc/model/fgraph.py
  tests/backends/test_arviz.py
  tests/sampling/test_forward.py
Labels: bug, trace-backend, samplers

#7302 Allow customizing style of model_graph nodes
  pymc/model_graph.py
  tests/test_model_graph.py
Labels: enhancements

#6312 Add warning about change of sign in hessian functions
  pymc/model/core.py
  pymc/pytensorf.py
  pymc/sampling/mcmc.py
  pymc/tuning/scaling.py
  tests/model/test_core.py
  tests/test_pytensorf.py
Labels: maintenance, major

#7314 Allow mutable shape in partially imputed variables
  pymc/distributions/distribution.py
  tests/distributions/test_distribution.py
  tests/model/test_core.py
Labels: bug, imputation

#7315 Fix bug in Truncated with Deterministic inputs
  pymc/distributions/truncated.py
  tests/distributions/test_truncated.py
Labels: bug

#7313 Add docstring to pymc.sampling.jax.sample_jax_nuts
  pymc/sampling/jax.py
Labels: docs

#7322 Updated pymc.step_methods.slicer.Slice docstring
  pymc/step_methods/slicer.py
Labels: docs

#7305 Use more numerically stable function in TruncatedNormal area computation
  pymc/distributions/continuous.py
Labels: maintenance, logprob

#7299 Refactor convert_observed_data
  pymc/pytensorf.py
Labels: maintenance

#7334 Split convert observed data
  docs/source/api/pytensorf.rst
  pymc/data.py
  pymc/pytensorf.py
  tests/test_pytensorf.py
Labels: maintenance, VI

#7336 Fix error in logcdf example
  pymc/logprob/basic.py
Labels: docs

#7327 Update PyTensor dependency
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-jax.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
  requirements.txt
Labels: pytensor, no releasenotes, dependencies

#7324 Add test for `freeze_rv_and_dims` in JAX backend
  tests/sampling/test_jax.py
Labels: tests, maintenance, jax, pytensor
