Repository pymc-devs/pymc, pull requests merged in 2024-08, with the labels that each got.

#7345 Implement specialized MvNormal density based on precision matrix
  pymc/distributions/multivariate.py
  pymc/logprob/rewriting.py
  tests/distributions/test_multivariate.py
Labels: enhancements, logprob

#7453 Blackjax sampler fix for breaking change / enable progress bar under parallel chain_method
  pymc/sampling/jax.py
Labels: maintenance, jax

#7474 Remove debug print statements
  pymc/distributions/multivariate.py
Labels: no releasenotes

#7475 Fix test failures due to old change_flags API
  tests/sampling/test_mcmc.py
Labels: tests, pytensor

#7483 Add compile_kwargs to `compute_log_density` functions
  pymc/stats/log_density.py
  tests/stats/test_log_density.py
Labels: maintenance

#7479 Update citation file
  CITATION.bib
  CITATION.cff
Labels: no releasenotes

#7471 Add multi-output support to GP Latent
  pymc/gp/gp.py
  pymc/gp/hsgp_approx.py
  tests/gp/test_gp.py
  tests/gp/test_hsgp_approx.py
Labels: feature request
