Repository pymc-devs/pymc, pull requests merged in 2024-11, with the labels that each got.

#7562 Harmonize HSGP.prior dimension names and order
  pymc/gp/hsgp_approx.py
Labels: enhancements, bug

#7567 fix flaky test, remove high tolerance
  tests/gp/test_gp.py
Labels: tests, maintenance, GP, no releasenotes

#7574 Update pr-auto-label.yml
  .github/workflows/pr-auto-label.yml
Labels: no releasenotes

#7558 Cancel running workflows for updated PRs
  .github/workflows/tests.yml
Labels: Github CI/CD, no releasenotes

#7586 Explain difference between BinaryMetropolis and BinaryGibbsMetropolis
  pymc/step_methods/metropolis.py
  tests/step_methods/test_metropolis.py
Labels: docs, tests, samplers

#7595 pre-commit ruff 0.8.0 update
  .pre-commit-config.yaml
  pymc/backends/__init__.py
  pymc/data.py
  pymc/distributions/__init__.py
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/distribution.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
  pymc/distributions/timeseries.py
  pymc/distributions/transforms.py
  pymc/exceptions.py
  pymc/gp/cov.py
  pymc/gp/gp.py
  pymc/gp/mean.py
  pymc/logprob/__init__.py
  pymc/math.py
  pymc/model/core.py
  pymc/model/fgraph.py
  pymc/pytensorf.py
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/step_methods/hmc/quadpotential.py
  pymc/step_methods/metropolis.py
  pymc/tuning/scaling.py
  pymc/variational/approximations.py
  pymc/variational/callbacks.py
  pymc/variational/inference.py
  pymc/variational/opvi.py
  pymc/variational/updates.py
  pymc/vartypes.py
  tests/model/test_core.py
Labels: pre-commit, no releasenotes
