Repository pymc-devs/pymc, pull requests merged in 2024-10, with the labels that each got.

#7492 Allow copy and deepcopy of PYMC models
  pymc/model/core.py
  pymc/model/fgraph.py
  tests/model/test_core.py
Labels: enhancements

#7529 Do not use initval in test model
  tests/models.py
Labels: tests, no releasenotes

#7484 Fix some type hinting to help with migrating `Distribution`
  pymc/distributions/continuous.py
  pymc/distributions/distribution.py
Labels: maintenance, no releasenotes

#7473 Simplify Model __new__ and metaclass
  pymc/data.py
  pymc/model/core.py
Labels: maintenance

#7530 Add mean dispatch for pymc distributions
  .github/workflows/tests.yml
  pymc/distributions/moments/__init__.py
  pymc/distributions/moments/means.py
  pymc/exceptions.py
  tests/distributions/moments/__init__.py
  tests/distributions/moments/test_means.py
Labels: enhancements

#7535 Allow for passing of backend and gradient_backend to nutpie
  pymc/sampling/mcmc.py
Labels: enhancements, samplers
