Repository pymc-devs/pymc, pull requests merged in 2024-03, with the labels that each got.

#7182 Fix error in warn_treedepth when using multiple NUTS samplers
  pymc/stats/convergence.py
  pymc/step_methods/hmc/nuts.py
  tests/stats/test_convergence.py
Labels: bug, samplers

#7180 Fix error in `dataset_to_point_list` when chain, draw are not the leading dims
  pymc/util.py
  tests/test_util.py
Labels: bug

#7189 Improve HSGP and ZeroInflated / Hurdle distributions docs
  pymc/distributions/mixture.py
  pymc/gp/hsgp_approx.py
Labels: docs

#7205 Add `_print_name` to Truncated and CustomDists
  pymc/distributions/distribution.py
  pymc/distributions/truncated.py
  tests/test_printing.py
Labels: enhancements

#7208 Codecov reintroduce `after_n_builds`
  codecov.yml
Labels: maintenance, Github CI/CD, no releasenotes

#7216 add _moment function for bacward backward compatibility
  pymc/distributions/distribution.py
Labels: bug

#7206 Add var_names argument to sample
  pymc/backends/__init__.py
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_jax.py
  tests/sampling/test_mcmc.py
Labels: enhancements

#7211 List more math function in API docs
  docs/source/api/math.rst
  pymc/math.py
  tests/distributions/test_continuous.py
  tests/test_math.py
Labels: docs

#7222 Improve example on expanded sample_posterior_predictive
  pymc/sampling/forward.py
Labels: docs, samplers

#7228 Use exponentially scaled modified Bessel function in periodic HSGPs
  pymc/gp/cov.py
Labels: maintenance, GP

#7230 Add HSGPPeriodic to Docs
  docs/source/api/gp/implementations.rst
Labels: docs

#7229 Add graphic for contributors.
  README.rst
Labels: docs
