Repository pymc-devs/pymc, pull requests merged in 2024-01, with the labels that each got.

#7097 Extend `dataset_to_point_dict` to accept both dataset and dict of dataarray
  pymc/util.py
  tests/test_util.py
Labels: maintenance, trace-backend

#7106 Gitpod instructions: use latest version of pymc
  docs/source/contributing/using_gitpod.md
Labels: docs

#7079 Fix progressbar bug for parallel SMC sampling
  pymc/smc/sampling.py
Labels: maintenance, SMC

#7100 Add a flag to LKJCorr to return the unpacked correlation matrix
  pymc/distributions/multivariate.py
  tests/distributions/test_multivariate.py
Labels: enhancements

#7083 Allow jitter boolean to be set through nuts_sampler_kwargs
  pymc/sampling/jax.py
  tests/sampling/test_jax.py
Labels: enhancements, jax

#7108 Moved 'Implementing a Random Variable' to the last position in 'How To' section
  docs/source/contributing/index.md
  requirements-dev.txt
Labels: docs
