Repository pymc-devs/pymc, pull requests merged in 2025-03, with the labels that each got.

#7697 Remove setupegg.py
  setupegg.py
Labels: maintenance, installation

#7710 Add return type overload for `sample_posterior_predictive`
  pymc/sampling/forward.py
Labels: docs

#7698 Populate slowest tests issue
  scripts/slowest_tests/extract-slow-tests.py
  scripts/slowest_tests/update-slowest-times-issue.sh
Labels: tests, Github CI/CD, no releasenotes

#7727 Change closing-labels action location
  .github/workflows/pr-auto-label.yml
Labels: Github CI/CD, no releasenotes

#7741 Allow passing graph level attributes to graphviz
  pymc/model_graph.py
Labels: maintenance, model
