Repository pymc-devs/pymc, pull requests merged in 2025-07, with the labels that each got.

#7845 Fix more issues with newer numpy API
  tests/logprob/test_transforms.py
Labels: tests, maintenance, no releasenotes

#7850 Allow `var_names` to be propagated to nutpie sampler
  conda-envs/environment-alternative-backends.yml
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc_external.py
Labels: maintenance, samplers

#7853 Mention pymc-marketing in README
  README.rst
Labels: docs

#7776 Fix progressbar with nested compound step samplers
  .github/workflows/tests.yml
  pymc/backends/arviz.py
  pymc/logprob/abstract.py
  pymc/progress_bar.py
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
  pymc/smc/sampling.py
  pymc/step_methods/compound.py
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/hmc/hmc.py
  pymc/step_methods/hmc/nuts.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/slicer.py
  pymc/tuning/starting.py
  pymc/util.py
  pymc/variational/inference.py
  tests/step_methods/hmc/test_nuts.py
  tests/test_progress_bar.py
Labels: bug

#7856 Do not fail with zero-sized arrays in `dataset_to_point_list`
  pymc/backends/arviz.py
  tests/backends/test_arviz.py
Labels: bug, trace-backend

#7858 Check attributes have been set before calling getattr in PointFunc
  pymc/pytensorf.py
  tests/test_pytensorf.py
Labels: bug, samplers

#7859 Matern Covariance Documentation
  pymc/gp/cov.py
Labels: docs, GP

#7862 Fix `release_notes_to_discourse` script
  scripts/publish_release_notes_to_discourse.py
Labels: docs

#7866 use latex for LKJCorr
  pymc/distributions/multivariate.py
Labels: docs

#7870 Show more digits of step size in progress_bar
  pymc/step_methods/hmc/nuts.py
Labels: maintenance

#7877 Fix bug in mixture logprob inference
  pymc/logprob/mixture.py
  tests/logprob/test_mixture.py
Labels: bug, logprob, hackathon

#7868 add model_to_mermaid to docs
  docs/source/api/model/core.rst
Labels: docs
