Repository pymc-devs/pymc, pull requests merged in 2025-05, with the labels that each got.

#7761 Add public testing function to mock `sample`
  docs/source/api.rst
  docs/source/api/testing.rst
  pymc/testing.py
  tests/test_testing.py
Labels: enhancements, tests

#7781 Update docs theme
  .readthedocs.yml
  conda-envs/environment-docs.yml
  docs/source/conf.py
Labels: docs

#7795 Tweak Model.profile docstring and type hint
  pymc/model/core.py
Labels: maintenance
