Repository pymc-devs/pymc, pull requests merged in 2025-06, with the labels that each got.

#7809 Only add `dim_length` shared variable when adding a new coordinate
  pymc/model/core.py
  tests/model/test_core.py
Labels: bug, maintenance, model

#7801 Consolidate progress bar speed logic
  pymc/util.py
Labels: maintenance, no releasenotes

#7810 Implement specialized Hurdle distribution
  pymc/distributions/mixture.py
  pymc/distributions/moments/means.py
  tests/distributions/test_distribution.py
  tests/distributions/test_mixture.py
  tests/test_printing.py
Labels: enhancements

#7822 Remove deprecated functionality
  pymc/data.py
  pymc/distributions/custom.py
  pymc/distributions/dist_math.py
  pymc/distributions/distribution.py
  pymc/distributions/shape_utils.py
  pymc/distributions/timeseries.py
  pymc/distributions/transforms.py
  pymc/initial_point.py
  pymc/logprob/abstract.py
  pymc/logprob/basic.py
  pymc/math.py
  pymc/model/core.py
  pymc/plots/__init__.py
  pymc/pytensorf.py
  pymc/sampling/mcmc.py
  pymc/testing.py
  pymc/util.py
  tests/distributions/test_custom.py
  tests/distributions/test_dist_math.py
  tests/distributions/test_distribution.py
  tests/distributions/test_timeseries.py
  tests/distributions/test_transform.py
  tests/logprob/test_basic.py
  tests/model/test_core.py
  tests/model/test_fgraph.py
  tests/model/transform/test_conditioning.py
  tests/test_initial_point.py
  tests/test_math.py
  tests/test_pytensorf.py
Labels: major

#7823 Allow accessing wrapped function attributes in PointFunc
  pymc/pytensorf.py
  tests/test_pytensorf.py
Labels: maintenance
