Repository pymc-devs/pymc, pull requests merged in 2025-04, with the labels that each got.

#7740 Bump PyTensor dependency
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/variational/opvi.py
  requirements-dev.txt
  requirements.txt
Labels: pytensor, dependencies

#7749 Minibatch warning fix
  pymc/model/core.py
Labels: maintenance, no releasenotes

#7755 Default to SVD for MvNormal in Latent GP conditionals
  pymc/gp/gp.py
Labels: bug, GP

#7746 Transform to remove Minibatch from model
  pymc/model/transform/basic.py
  tests/model/transform/test_basic.py
Labels: enhancements

#7759 Implement reversed and strictly positive ordered transform
  pymc/distributions/transforms.py
  tests/distributions/test_transform.py
Labels: enhancements

#7763 Add gp util module to docs
  docs/source/api/gp.rst
  docs/source/api/gp/util.rst
  pymc/gp/util.py
Labels: docs
