Repository pymc-devs/pymc, pull requests merged in 2025-02, with the labels that each got.

#7676 Bump upper pytensor version dependency
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-jax.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
  requirements.txt
Labels: maintenance, no releasenotes

#7679 Relax pm.observe to allow observing already observed variables
  pymc/model/transform/conditioning.py
Labels: feature request, maintenance, model transform

#7690 Fix bug with chained CustomSymbolicDists
  pymc/distributions/distribution.py
  tests/distributions/test_custom.py
Labels: bug, logprob

#7681 reuse jaxified logp when sampling via jax
  pymc/sampling/jax.py
Labels: maintenance, jax, samplers

#7695 Fix bug when reusing jax logp for initial point generation
  pymc/sampling/jax.py
  tests/sampling/test_jax.py
Labels: bug, jax, samplers

#7656 Support PyTensor deterministic operations as observations
  pymc/data.py
  pymc/pytensorf.py
  tests/test_data.py
  tests/test_pytensorf.py
Labels: enhancements, model

#7696 Supervisor not needed for JAX rewrites
  pymc/sampling/jax.py
Labels: maintenance, jax, pytensor, no releasenotes

#7596 Make do interventions shared variables by default
  pymc/model/transform/conditioning.py
  tests/model/transform/test_conditioning.py
Labels: model transform
