Repository pymc-devs/pymc, pull requests merged in 2025-01, with the labels that each got.

#7640 Foward `compile_kwargs` to ADVI when `init = "advi+..."`
  pymc/pytensorf.py
  pymc/sampling/mcmc.py
  pymc/variational/inference.py
  pymc/variational/opvi.py
Labels: maintenance, VI

#7625 Adds shape/rate info to Gamma docs
  pymc/distributions/continuous.py
Labels: docs

#7645 Fix conditional import of zarr
  pymc/backends/zarr.py
  pymc/sampling/mcmc.py
Labels: bug, maintenance, no releasenotes

#7648 pre-commit update ruff 0.9.1
  .pre-commit-config.yaml
  docs/source/learn/core_notebooks/pymc_pytensor.ipynb
  pymc/data.py
  pymc/distributions/continuous.py
  pymc/distributions/multivariate.py
  pymc/gp/cov.py
  pymc/gp/util.py
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
  pymc/sampling/population.py
  pymc/step_methods/compound.py
  pymc/step_methods/state.py
  pymc/testing.py
  pymc/variational/opvi.py
  pymc/variational/updates.py
  tests/distributions/test_multivariate.py
  tests/gp/test_hsgp_approx.py
  tests/test_data.py
Labels: pre-commit, no releasenotes

#7641 Check for observed variables in the trace
  pymc/sampling/forward.py
  tests/sampling/test_forward.py
Labels: maintenance, samplers

#7610 Use jaxified logp for initial point evaluation when sampling via Jax
  pymc/initial_point.py
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
Labels: maintenance, jax, samplers

#7652 fix: deep copy nuts_sampler_kwarg to prevent `.pop` side effects
  pymc/sampling/mcmc.py
Labels: bug

#7634 Show one progress bar per chain when sampling
  pymc/backends/__init__.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/step_methods/compound.py
  pymc/step_methods/hmc/nuts.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/slicer.py
  pymc/util.py
Labels: maintenance, samplers

#7658 Ignore inner unused RNG inputs in `collect_default_updates`
  pymc/pytensorf.py
  tests/test_pytensorf.py
Labels: maintenance, pytensor

#7665 Remove FutureWarning from pandas
  tests/test_data.py
Labels: tests, maintenance, no releasenotes
